<!-- Desktop -->
<div class="desktop">
    <div class="row header-background">
        <div class="container">
            <div class="row">
                <div class="col-lg-10">
                    <div class="box">
                        <div class="header-container-title">
                            <p class="header-title">{{title}}</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2">
                    <div class="box">
                        <div class="header-container-steps">
                            <div class="container-label-step">
                                <p class="label-step">PASO</p>
                            </div>
                            <div class="container-steps">
                                <p class="number-step">{{stepNumber}}</p>
                                <p class="total-steps"> de {{stepTotal}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- MOBILE -->
<div class="mobile">
    <div class="row header-background">
        <div class="container">
            <div class="row">
                <div class="col-xs-8">
                    <div class="box">
                        <div class="header-container-title">
                            <p class="header-title">{{title}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="box">
                        <div class="header-container-steps">
                            <div class="container-label-step">
                                <p class="label-step">PASO</p>
                            </div>
                            <div class="container-steps">
                                <p class="number-step">{{stepNumber}}</p>
                                <p class="total-steps"> de {{stepTotal}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
