/* MOBILE 300p */
@media only screen and (min-width: 300px) and (orientation: portrait) {
  .match-container {
    width: 100%;
    padding: 0;
  }
  .date {
    text-align: center;
    padding: 0;
    margin: 0;
  }
  .date p {
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    opacity: 0.5;
    margin-bottom: 5px;
  }
  .teams {
    display: inline-flex;
    background-color: #414347;
    padding: 5px 15px 0 15px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    margin: 0;
  }

  .teams-font {
    margin-top: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    padding: 0;
  }

  .home-flag-team {
    width: 25px;
    height: 25px;
    margin: 0 5px 0 5px;
  }

  .visit-flag-team {
    width: 25px;
    height: 25px;
    margin: 0 5px 0 5px;
  }

  .separator {
    margin: 5px 5px 0 5px;
    font-size: 12px;
    line-height: 12px;
    padding: 0;
  }

  .home-score, .visit-score {
    padding: 5px;
    background-color: #232529;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    font-size: 12px;
    line-height: 12px;

  }
  .real {
    display: flex;
    justify-content: center;
  }

  .score-real {
    width: 20%;
    border-bottom-left-radius: 25px;
    text-align: center;
    background-color: #000;
    padding: 2px 5px 2px 0;
    margin: 0;
  }

  .score-real p {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    margin: 0 0 3px 3px;
    padding: 0;
  }

  .score-win {
    width: 20%;
    border-bottom-right-radius: 25px;
    text-align: center;
    background-color: #27AE60;
    padding: 2px 0 2px 5px;
    margin: 0;
  }

  .score-draw {
    width: 20%;
    border-bottom-right-radius: 25px;
    text-align: center;
    background-color: #d2a42b;
    padding: 2px 0 2px 5px;
    margin: 0;
  }

  .score-loss {
    width: 20%;
    border-bottom-right-radius: 25px;
    text-align: center;
    background-color: #cd4444;
    padding: 2px 0 2px 5px;
    margin: 0;
  }

  .score-waiting {
    width: 20%;
    border-bottom-right-radius: 25px;
    text-align: center;
    background-color: #737171;
    padding: 2px 0 2px 5px;
    margin: 0;
  }

  .score-fonts {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    margin: 0 3px 3px 0;
    padding: 0;
  }

}

/* DESKTOP 1080P */
@media only screen and (min-width: 1900px) and (orientation: landscape) {

  .match-container {
    width: 100%;
    padding: 0;
  }
  .date {
    text-align: center;
    padding: 0;
    margin: 0;
  }
  .date p {
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    opacity: 0.5;
    margin-bottom: 5px;
  }
  .teams {
    display: inline-flex;
    background-color: #414347;
    padding: 5px 15px 0 15px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    margin: 0;
  }

  .teams-font {
    margin-top: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    padding: 0;
  }

  .home-flag-team {
    width: 25px;
    height: 25px;
    margin: 0 5px 0 5px;
  }

  .visit-flag-team {
    width: 25px;
    height: 25px;
    margin: 0 5px 0 5px;
  }

  .separator {
    margin: 5px 5px 0 5px;
    font-size: 14px;
    line-height: 16px;
    padding: 0;
  }

  .home-score, .visit-score {
    padding: 5px;
    background-color: #232529;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    font-size: 14px;
    line-height: 16px;

  }
  .real {
    display: flex;
    justify-content: center;
  }

  .score-real {
    width: 20%;
    border-bottom-left-radius: 25px;
    text-align: center;
    background-color: #000;
    padding: 2px 5px 2px 0;
    margin: 0;
  }

  .score-real p {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    margin: 0 0 3px 3px;
    padding: 0;
  }

  .score-win {
    width: 20%;
    border-bottom-right-radius: 25px;
    text-align: center;
    background-color: #27AE60;
    padding: 2px 0 2px 5px;
    margin: 0;
  }

  .score-draw {
    width: 20%;
    border-bottom-right-radius: 25px;
    text-align: center;
    background-color: #d2a42b;
    padding: 2px 0 2px 5px;
    margin: 0;
  }

  .score-loss {
    width: 20%;
    border-bottom-right-radius: 25px;
    text-align: center;
    background-color: #cd4444;
    padding: 2px 0 2px 5px;
    margin: 0;
  }

  .score-waiting {
    width: 20%;
    border-bottom-right-radius: 25px;
    text-align: center;
    background-color: #737171;
    padding: 2px 0 2px 5px;
    margin: 0;
  }

  .score-fonts {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    margin: 0 3px 3px 0;
    padding: 0;
  }

}

/* MOBILE 350p */
@media only screen and (min-width: 350px) and (orientation: portrait) {
  .match-container {
    width: 100%;
    padding: 0;
  }
  .date {
    text-align: center;
    padding: 0;
    margin: 0;
  }
  .date p {
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    opacity: 0.5;
    margin-bottom: 5px;
  }
  .teams {
    display: inline-flex;
    background-color: #414347;
    padding: 5px 15px 0 15px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    margin: 0;
  }

  .teams-font {
    margin-top: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    padding: 0;
  }

  .home-flag-team {
    width: 25px;
    height: 25px;
    margin: 0 5px 0 5px;
  }

  .visit-flag-team {
    width: 25px;
    height: 25px;
    margin: 0 5px 0 5px;
  }

  .separator {
    margin: 5px 5px 0 5px;
    font-size: 12px;
    line-height: 12px;
    padding: 0;
  }

  .home-score, .visit-score {
    padding: 5px;
    background-color: #232529;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    font-size: 12px;
    line-height: 12px;

  }
  .real {
    display: flex;
    justify-content: center;
  }

  .score-real {
    width: 20%;
    border-bottom-left-radius: 25px;
    text-align: center;
    background-color: #000;
    padding: 2px 5px 2px 0;
    margin: 0;
  }

  .score-real p {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    margin: 0 0 3px 3px;
    padding: 0;
  }

  .score-win {
    width: 20%;
    border-bottom-right-radius: 25px;
    text-align: center;
    background-color: #27AE60;
    padding: 2px 0 2px 5px;
    margin: 0;
  }

  .score-draw {
    width: 20%;
    border-bottom-right-radius: 25px;
    text-align: center;
    background-color: #d2a42b;
    padding: 2px 0 2px 5px;
    margin: 0;
  }

  .score-loss {
    width: 20%;
    border-bottom-right-radius: 25px;
    text-align: center;
    background-color: #cd4444;
    padding: 2px 0 2px 5px;
    margin: 0;
  }

  .score-waiting {
    width: 20%;
    border-bottom-right-radius: 25px;
    text-align: center;
    background-color: #737171;
    padding: 2px 0 2px 5px;
    margin: 0;
  }

  .score-fonts {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    margin: 0 3px 3px 0;
    padding: 0;
  }

}

/* DESKTOP 1080P */
@media only screen and (min-width: 1900px) and (orientation: landscape) {

  .match-container {
    width: 100%;
    padding: 0;
  }
  .date {
    text-align: center;
    padding: 0;
    margin: 0;
  }
  .date p {
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    opacity: 0.5;
    margin-bottom: 5px;
  }
  .teams {
    display: inline-flex;
    background-color: #414347;
    padding: 5px 15px 0 15px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    margin: 0;
  }

  .teams-font {
    margin-top: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    padding: 0;
  }

  .home-flag-team {
    width: 25px;
    height: 25px;
    margin: 0 5px 0 5px;
  }

  .visit-flag-team {
    width: 25px;
    height: 25px;
    margin: 0 5px 0 5px;
  }

  .separator {
    margin: 5px 5px 0 5px;
    font-size: 14px;
    line-height: 16px;
    padding: 0;
  }

  .home-score, .visit-score {
    padding: 5px;
    background-color: #232529;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    font-size: 14px;
    line-height: 16px;

  }
  .real {
    display: flex;
    justify-content: center;
  }

  .score-real {
    width: 20%;
    border-bottom-left-radius: 25px;
    text-align: center;
    background-color: #000;
    padding: 2px 5px 2px 0;
    margin: 0;
  }

  .score-real p {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    margin: 0 0 3px 3px;
    padding: 0;
  }

  .score-win {
    width: 20%;
    border-bottom-right-radius: 25px;
    text-align: center;
    background-color: #27AE60;
    padding: 2px 0 2px 5px;
    margin: 0;
  }

  .score-draw {
    width: 20%;
    border-bottom-right-radius: 25px;
    text-align: center;
    background-color: #d2a42b;
    padding: 2px 0 2px 5px;
    margin: 0;
  }

  .score-loss {
    width: 20%;
    border-bottom-right-radius: 25px;
    text-align: center;
    background-color: #cd4444;
    padding: 2px 0 2px 5px;
    margin: 0;
  }

  .score-waiting {
    width: 20%;
    border-bottom-right-radius: 25px;
    text-align: center;
    background-color: #737171;
    padding: 2px 0 2px 5px;
    margin: 0;
  }

  .score-fonts {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    margin: 0 3px 3px 0;
    padding: 0;
  }

}

/* DESKTOP 720P */
@media only screen and (min-width: 1280px) and (orientation: landscape) {
  .match-container {
    width: 100%;
    padding: 0;
  }
  .date {
    text-align: center;
    padding: 0;
    margin: 0;
  }
  .date p {
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    opacity: 0.5;
    margin-bottom: 5px;
  }
  .teams {
    display: inline-flex;
    background-color: #414347;
    padding: 5px 15px 0 15px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    margin: 0;
  }

  .teams-font {
    margin-top: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    padding: 0;
  }

  .home-flag-team {
    width: 25px;
    height: 25px;
    margin: 0 5px 0 5px;
  }

  .visit-flag-team {
    width: 25px;
    height: 25px;
    margin: 0 5px 0 5px;
  }

  .separator {
    margin: 5px 5px 0 5px;
    font-size: 12px;
    line-height: 12px;
    padding: 0;
  }

  .home-score, .visit-score {
    padding: 5px;
    background-color: #232529;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    font-size: 12px;
    line-height: 12px;

  }
  .real {
    display: flex;
    justify-content: center;
  }

  .score-real {
    width: 20%;
    border-bottom-left-radius: 25px;
    text-align: center;
    background-color: #000;
    padding: 2px 5px 2px 0;
    margin: 0;
  }

  .score-real p {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    margin: 0 0 3px 3px;
    padding: 0;
  }

  .score-win {
    width: 20%;
    border-bottom-right-radius: 25px;
    text-align: center;
    background-color: #27AE60;
    padding: 2px 0 2px 5px;
    margin: 0;
  }

  .score-draw {
    width: 20%;
    border-bottom-right-radius: 25px;
    text-align: center;
    background-color: #d2a42b;
    padding: 2px 0 2px 5px;
    margin: 0;
  }

  .score-loss {
    width: 20%;
    border-bottom-right-radius: 25px;
    text-align: center;
    background-color: #cd4444;
    padding: 2px 0 2px 5px;
    margin: 0;
  }

  .score-waiting {
    width: 20%;
    border-bottom-right-radius: 25px;
    text-align: center;
    background-color: #737171;
    padding: 2px 0 2px 5px;
    margin: 0;
  }

  .score-fonts {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    margin: 0 3px 3px 0;
    padding: 0;
  }

}

/* DESKTOP 1080P */
@media only screen and (min-width: 1900px) and (orientation: landscape) {

  .match-container {
    width: 100%;
    padding: 0;
  }
  .date {
    text-align: center;
    padding: 0;
    margin: 0;
  }
  .date p {
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    opacity: 0.5;
    margin-bottom: 5px;
  }
  .teams {
    display: inline-flex;
    background-color: #414347;
    padding: 5px 15px 0 15px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    margin: 0;
  }

  .teams-font {
    margin-top: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    padding: 0;
  }

  .home-flag-team {
    width: 25px;
    height: 25px;
    margin: 0 5px 0 5px;
  }

  .visit-flag-team {
    width: 25px;
    height: 25px;
    margin: 0 5px 0 5px;
  }

  .separator {
    margin: 5px 5px 0 5px;
    font-size: 14px;
    line-height: 16px;
    padding: 0;
  }

  .home-score, .visit-score {
    padding: 5px;
    background-color: #232529;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    font-size: 14px;
    line-height: 16px;

  }
  .real {
    display: flex;
    justify-content: center;
  }

  .score-real {
    width: 20%;
    border-bottom-left-radius: 25px;
    text-align: center;
    background-color: #000;
    padding: 2px 5px 2px 0;
    margin: 0;
  }

  .score-real p {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    margin: 0 0 3px 3px;
    padding: 0;
  }

  .score-win {
    width: 20%;
    border-bottom-right-radius: 25px;
    text-align: center;
    background-color: #27AE60;
    padding: 2px 0 2px 5px;
    margin: 0;
  }

  .score-draw {
    width: 20%;
    border-bottom-right-radius: 25px;
    text-align: center;
    background-color: #d2a42b;
    padding: 2px 0 2px 5px;
    margin: 0;
  }

  .score-loss {
    width: 20%;
    border-bottom-right-radius: 25px;
    text-align: center;
    background-color: #cd4444;
    padding: 2px 0 2px 5px;
    margin: 0;
  }

  .score-waiting {
    width: 20%;
    border-bottom-right-radius: 25px;
    text-align: center;
    background-color: #737171;
    padding: 2px 0 2px 5px;
    margin: 0;
  }

  .score-fonts {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    margin: 0 3px 3px 0;
    padding: 0;
  }
}
