<ng-container *ngIf="penkaRequest.length > 0; else none">

    <!-- counter notification icon -->
    <a mat-button [matMenuTriggerFor]="beforeMenu" matBadge="{{penkaRequest.length}}" matBadgeColor="warn">
        <mat-icon fontSet="material-icons-outlined">notifications</mat-icon>
    </a>

    <!-- show notifications -->
    <mat-menu #beforeMenu="matMenu" xPosition="before" class="notification-menu" (close)="updateNotificationsStatus()">
        <ul class="list">
            <li class="item" *ngFor="let pr of penkaRequest">
                <div *ngIf="pr.status === '1'">
                    <a routerLink="/inbox">
                        <p class="notification-font">{{pr.userName}} solicita unirse a {{pr.penkaName}}
                        </p>
                    </a>
                    <app-button-notification [codePenka]="pr.codePenka" [request]="pr"
                        (statusUpdate)="updateNotificationsStatus(pr)"></app-button-notification>
                </div>

                <div *ngIf="pr.status === '8'">
                    <p class="notification-font">{{pr.makerName}} aceptó tu solicitud para unirte a {{pr.penkaName}}
                    </p>
                    <button mat-flat-button type="button" class="gamble-fill-btn" (click)="goGamble(pr)">Llenar
                        resultados</button>
                    <button mat-flat-button type="button" class="gamble-fill-btn" (click)="goDashboard(pr)">Ver
                        más</button>
                </div>

                <div *ngIf="pr.status === '9'">
                    <p class="notification-font">{{pr.makerName}} rechazó tu solicitud para unirte a {{pr.penkaName}}
                    </p>
                </div>

                <div *ngIf="pr.status === '10'">
                    <p class="notification-font">La penka {{pr.penkaName}} ha finalizado
                    </p>
                    <button mat-flat-button type="button" class="gamble-fill-btn" (click)="goGrid(pr)">
                        Ver más</button>
                </div>
            </li>
        </ul>
    </mat-menu>
</ng-container>

<ng-template #none>
    <!-- counter notification icon -->
    <a mat-button>
        <mat-icon fontSet="material-icons-outlined">notifications</mat-icon>
    </a>
</ng-template>