/* MOBILE */
@media only screen and (min-width: 350px) and (orientation: portrait) {
  .list {
    padding: 0 0 0 20px;
    max-height: 400px;
  }
  .item {

  }
  .notification-font {
    font-size: 12px;
  }
  a {
    color: white;
  }
  ::ng-deep .cdk-overlay-pane .notification-menu {
    min-width:200px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
  }
  .gamble-fill-btn {
    background-color: #FDA328;
    border-radius: 20px;
    padding: 0 20px 0 20px;
    margin-right: 20px;
  }
}

/* DESKTOP */
@media only screen and (min-width: 1280px) and (orientation: landscape) {
  .list {
    overflow-y: auto;
    max-height: 400px;
  }

  .list::-webkit-scrollbar {
    width: 10px;
  }
  
  .list::-webkit-scrollbar-thumb {
    background-color: #414143;
    border-radius: 10px;
  }
  
  .list::-webkit-scrollbar-thumb:active {
    background-color: #737171;
  }
  
  .list::-webkit-scrollbar-thumb:hover {
    background-color: #792fe8;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  }
  
  .item {
    margin-bottom: 25px;
  }

  ::ng-deep .mat-menu {
    width: 500px;
  }
  a {
    color: white;
  }
  ::ng-deep .cdk-overlay-pane .notification-menu {
    min-width: 450px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
  }

  .gamble-fill-btn {
    background-color: #FDA328;
    border-radius: 20px;
    padding: 0 20px 0 20px;
    margin-right: 20px;
  }
}

