<app-page-header [title]="title"></app-page-header>
<br>
<!-- DESKTOP -->
<div class="desktop">
    <div class="container">

        <div class="row">
            <div class="col-lg-10"></div>
            <div class="col-lg-2">
                <div class="box">
                    <app-button-back></app-button-back>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-12">
                <div class="box">
                    <div class="card">

                        <!-- Header -->
                        <div class="card-header">
                            <div class="column-participants">&nbsp;</div>

                            <div class="column-scores">
                                <p class="header-font">Puntos</p>
                            </div>

                            <ul class="list-horizontal">
                                <li class="item-horizontal" *ngFor="let g of gambles | filterUserId:user.uid">
                                    <ng-container
                                            *ngFor="let sm of singleMatches | filterId:g.singleMatchId; let i = index">
                                        <ng-container *ngIf="i === 0">
                                            <p class="header-font">{{sm.homeTeamAlias}} &nbsp; -
                                                &nbsp; {{sm.visitTeamAlias}}</p>

                                            <ng-container *ngIf="sm.status === '1'; else score">
                                                <p class="score-fonts">{{sm.startDate.toDate() | date:'MMM dd'}}
                                                    - {{sm.startDate.toDate() | date:'HH:mm'}}</p>
                                            </ng-container>

                                            <ng-template #score>
                                                <p class="score-font">{{sm.homeTeamScore}}&nbsp; -
                                                    &nbsp; {{sm.visitTeamScore}}</p>
                                            </ng-template>
                                        </ng-container>
                                    </ng-container>
                                </li>
                            </ul>
                        </div>

                        <!-- Body -->
                        <div class="card-body">
                            <ul class="list-participants">
                                <li class="item-participants"
                                    *ngFor="let part of participants; let i = index">

                                    <ng-container>
                                        <div class="participant-name">
                                            <p [ngClass]="{'me': part.userId === user.uid}">{{i + 1}}.&nbsp;{{part.userName}}</p>
                                        </div>
                                        
                                        <div class="participant-score">
                                            <p [ngClass]="{'me': part.userId === user.uid}">{{part.accumulatedScore}} pt</p>
                                        </div>
                                        <div class="container-place">
                                            <ng-container *ngIf="part.status === '9'">
                                                <ng-container *ngIf="part.place === 'primero'">
                                                    <img src="../../../../assets/images/medals/medal-gold.png" alt="Primero">
                                                </ng-container>
                                                <ng-container *ngIf="part.place === 'segundo'">
                                                    <img src="../../../../assets/images/medals/medal-silver.png" alt="Segundo">
                                                </ng-container>
                                                <ng-container *ngIf="part.place === 'tercero'">
                                                    <img src="../../../../assets/images/medals/medal-bronze.png" alt="Tercero">
                                                </ng-container>
                                                <ng-container *ngIf="part.place === '' || part.place === undefined" class="row">
                                                    <img class="no-medal" src="../../../../assets/images/medals/medal-bronze.png">
                                                </ng-container>
                                            </ng-container>
                                        </div>
                                    </ng-container>


                                    <ul class="list-horizontal gambles">
                                        <li class="item-horizontal"
                                            *ngFor="let ga of gambles | filterUserId:part.userId; let x = index">

                                            <!-- My Gambles -->
                                            <ng-container *ngIf="ga.userId === user.uid; else guess">
                                                <ng-container *ngIf="ga.penkaFormat === 'PRO'">

                                                    <ng-container *ngIf="ga.homeTeamScore != null; else noScoreYet">
                                                        <p class="header-font">{{ga.homeTeamScore}}
                                                            - {{ga.visitTeamScore}}</p>
                                                        <p class="score-achieved">{{ga.scoreAchieved}}&nbsp;puntos</p>
                                                    </ng-container>

                                                    <ng-template #noScoreYet>
                                                        <p class="header-font">-</p>
                                                    </ng-template>
                                                </ng-container>

                                                <ng-container *ngIf="ga.penkaFormat === 'MEDIUM'">
                                                    <ng-container
                                                            *ngIf="ga.winnerTeamId || ga.draw; else noScoreYet">
                                                        <ng-container *ngIf="ga.winnerTeamId === ga.homeTeamId">
                                                            <p class="header-font">L</p>
                                                            <p class="score-achieved">{{ga.scoreAchieved}}&nbsp;puntos</p>
                                                        </ng-container>
                                                        <ng-container *ngIf="ga.winnerTeamId === ga.visitTeamId">
                                                            <p class="header-font">V</p>
                                                            <p class="score-achieved">{{ga.scoreAchieved}}&nbsp;puntos</p>
                                                        </ng-container>
                                                        <ng-container *ngIf="ga.draw === true">
                                                            <p class="header-font">E</p>
                                                            <p class="score-achieved">{{ga.scoreAchieved}}&nbsp;puntos</p>
                                                        </ng-container>
                                                    </ng-container>

                                                    <ng-template #noScoreYet>
                                                        <p class="header-font">-</p>
                                                    </ng-template>


                                                </ng-container>
                                            </ng-container>

                                            <!-- Other Players Gambles -->
                                            <ng-template #guess>
                                                <ng-container *ngIf="ga.penkaFormat === 'PRO'">
                                                    <ng-container *ngIf="ga.homeTeamScore != null; else noScoreYet">
                                                        <p class="header-font">{{ga.homeTeamScore}}
                                                            - {{ga.visitTeamScore}}</p>
                                                        <p class="score-achieved">{{ga.scoreAchieved}}&nbsp;puntos</p>
                                                    </ng-container>

                                                    <ng-template #noScoreYet>
                                                        <p class="header-font">-</p>
                                                    </ng-template>
                                                </ng-container>

                                                <ng-container *ngIf="ga.penkaFormat === 'MEDIUM'">

                                                    <ng-container *ngIf="ga.winnerTeamId === ga.homeTeamId">
                                                        <p class="header-font">L</p>
                                                        <p class="score-achieved">{{ga.scoreAchieved}}&nbsp;puntos</p>
                                                    </ng-container>
                                                    <ng-container
                                                            *ngIf="ga.winnerTeamId === ga.visitTeamId">
                                                        <p class="header-font">V</p>
                                                        <p class="score-achieved">{{ga.scoreAchieved}}&nbsp;puntos</p>
                                                    </ng-container>
                                                    <ng-container *ngIf="ga.draw === true">
                                                        <p class="header-font">E</p>
                                                        <p class="score-achieved">{{ga.scoreAchieved}}&nbsp;puntos</p>
                                                    </ng-container>
                                                </ng-container>
                                            </ng-template>

                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>

                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
<!------------------------------>
<!-------- MOBILE -------------->
<div class="mobile">
    <br>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="card-mobile">
                        <!-- Header -->
                        <div class="header-mobile">
                            <ng-container *ngIf="gambles">
                                <ul class="header-table">
                                    <li class="header-participants">&nbsp;</li>
                                    <li class="header-scores">
                                        <p class="header-font">Puntos</p>
                                    </li>
                                    <li class="header-matches" *ngFor="let g of gambles | filterUserId:user.uid">
                                        <ng-container
                                                *ngFor="let sm of singleMatches | filterId:g.singleMatchId; let i = index">
                                            <ng-container *ngIf="i === 0">
                                                <p class="header-font">{{sm.homeTeamAlias}} &nbsp; -
                                                    &nbsp; {{sm.visitTeamAlias}}</p>
                                                <p class="score-font">{{sm.homeTeamScore}} &nbsp; -
                                                    &nbsp; {{sm.visitTeamScore}}</p>
                                            </ng-container>
                                        </ng-container>
                                    </li>
                                </ul>
                            </ng-container>
                        </div>

                        <!--- Body --->
                        <div class="body-mobile">
                            <ul class="list-participants">
                                <li class="item-participants"
                                    *ngFor="let part of participants; let i = index">

                                    <ng-container >
                                            <div class="participant-name">
                                                <p [ngClass]="{'me': part.userId === user.uid}">{{i + 1}}.&nbsp;{{part.userName}}</p>
                                            </div>
                                            <div class="participant-score">
                                                <p [ngClass]="{'me': part.userId === user.uid}">{{part.accumulatedScore}} pt</p>
                                            </div>
                                        <div class="container-place">
                                            <ng-container *ngIf="part.status === '9'">
                                                <ng-container *ngIf="part.place === 'primero'">
                                                    <img src="../../../../assets/images/medals/medal-gold.png" alt="Primero">
                                                </ng-container>
                                                <ng-container *ngIf="part.place === 'segundo'">
                                                    <img src="../../../../assets/images/medals/medal-silver.png" alt="Segundo">
                                                </ng-container>
                                                <ng-container *ngIf="part.place === 'tercero'">
                                                    <img src="../../../../assets/images/medals/medal-bronze.png" alt="Tercero">
                                                </ng-container>
                                                <ng-container *ngIf="part.place === '' || part.place === undefined" class="row">
                                                    <img class="no-medal" src="../../../../assets/images/medals/medal-bronze.png">
                                                </ng-container>
                                            </ng-container>
                                        </div>
                                    </ng-container>

                                    <div>
                                        <ul class="list-gamble">
                                            <li class="item-gamble"
                                                *ngFor="let ga of gambles | filterUserId:part.userId; let x = index">

                                                <!-- My Gambles -->
                                                <ng-container *ngIf="ga.userId === user.uid; else guess">
                                                    <ng-container *ngIf="ga.penkaFormat === 'PRO'">

                                                        <ng-container *ngIf="ga.homeTeamScore != null; else noScoreYet">
                                                            <p class="header-font">{{ga.homeTeamScore}}
                                                                - {{ga.visitTeamScore}}</p>
                                                            <p class="score-achieved">{{ga.scoreAchieved}}&nbsp;puntos</p>
                                                        </ng-container>

                                                        <ng-template #noScoreYet>
                                                            <p class="header-font">-</p>
                                                        </ng-template>
                                                    </ng-container>

                                                    <ng-container *ngIf="ga.penkaFormat === 'MEDIUM'">
                                                        <ng-container
                                                                *ngIf="ga.winnerTeamId || ga.draw; else noScoreYet">
                                                            <ng-container *ngIf="ga.winnerTeamId === ga.homeTeamId">
                                                                <p class="header-font">L</p>
                                                                <p class="score-achieved">{{ga.scoreAchieved}}&nbsp;puntos</p>
                                                            </ng-container>
                                                            <ng-container *ngIf="ga.winnerTeamId === ga.visitTeamId">
                                                                <p class="header-font">V</p>
                                                                <p class="score-achieved">{{ga.scoreAchieved}}&nbsp;puntos</p>
                                                            </ng-container>
                                                            <ng-container *ngIf="ga.draw === true">
                                                                <p class="header-font">E</p>
                                                                <p class="score-achieved">{{ga.scoreAchieved}}&nbsp;puntos</p>
                                                            </ng-container>
                                                        </ng-container>

                                                        <ng-template #noScoreYet>
                                                            <p class="header-font">-</p>
                                                        </ng-template>


                                                    </ng-container>
                                                </ng-container>

                                                <!-- Other Players Gambles -->
                                                <ng-template #guess>
                                                    <ng-container *ngIf="ga.penkaFormat === 'PRO'">

                                                        <ng-container *ngIf="ga.startDate === date">
                                                            <ng-container *ngIf="ga.startTime <= time;">
                                                                <p class="header-font">{{ga.homeTeamScore}}
                                                                    - {{ga.visitTeamScore}}</p>
                                                                <p class="score-achieved">{{ga.scoreAchieved}}&nbsp;puntos</p>
                                                            </ng-container>
                                                            <ng-container *ngIf="ga.startTime > time;">
                                                                <p class="header-font">-</p>
                                                            </ng-container>
                                                        </ng-container>

                                                        <ng-container *ngIf="ga.startDate < date">
                                                            <p class="header-font">{{ga.homeTeamScore}}
                                                                - {{ga.visitTeamScore}}</p>
                                                            <p class="score-achieved">{{ga.scoreAchieved}}&nbsp;puntos</p>
                                                        </ng-container>

                                                        <ng-container *ngIf="ga.startDate > date">
                                                            <p class="header-font">-</p>
                                                        </ng-container>
                                                    </ng-container>

                                                    <ng-container *ngIf="ga.penkaFormat === 'MEDIUM'">

                                                        <ng-container *ngIf="ga.startDate === date">
                                                            <ng-container *ngIf="ga.startTime <= time;">
                                                                <ng-container *ngIf="ga.winnerTeamId === ga.homeTeamId">
                                                                    <p class="header-font">L</p>
                                                                    <p class="score-achieved">{{ga.scoreAchieved}}&nbsp;puntos</p>
                                                                </ng-container>
                                                                <ng-container
                                                                        *ngIf="ga.winnerTeamId === ga.visitTeamId">
                                                                    <p class="header-font">V</p>
                                                                    <p class="score-achieved">{{ga.scoreAchieved}}&nbsp;puntos</p>
                                                                </ng-container>
                                                                <ng-container *ngIf="ga.draw === true">
                                                                    <p class="header-font">E</p>
                                                                    <p class="score-achieved">{{ga.scoreAchieved}}&nbsp;puntos</p>
                                                                </ng-container>
                                                            </ng-container>
                                                        </ng-container>

                                                        <ng-container *ngIf="ga.startDate < date; else noneDate">
                                                            <ng-container *ngIf="ga.winnerTeamId === ga.homeTeamId">
                                                                <p class="header-font">L</p>
                                                                <p class="score-achieved">{{ga.scoreAchieved}}&nbsp;puntos</p>
                                                            </ng-container>
                                                            <ng-container *ngIf="ga.winnerTeamId === ga.visitTeamId">
                                                                <p class="header-font">V</p>
                                                                <p class="score-achieved">{{ga.scoreAchieved}}&nbsp;puntos</p>
                                                            </ng-container>
                                                            <ng-container *ngIf="ga.draw === true">
                                                                <p class="header-font">E</p>
                                                                <p class="score-achieved">{{ga.scoreAchieved}}&nbsp;puntos</p>
                                                            </ng-container>
                                                        </ng-container>

                                                        <ng-template #noneDate>
                                                            <p class="header-font">-</p>
                                                        </ng-template>

                                                    </ng-container>
                                                </ng-template>

                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
