/* MOBILE 300p */
@media only screen and (min-width: 300px) and (orientation: portrait) {

  .mat-expansion-panel-header-title {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
  }
  .mat-expanded {
    background-color: #2E3035;
  }
  .label-mobile {
    font-size: 14px;
    line-height: 16px;
    opacity: 0.5;
  }
  .item-mobile {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
  }
  .container-button-mobile {
    text-align: center;
  }
  /* Buttons */
  .btn-grid-mobile {
    border-radius: 25px;
    background-color: #FDA328;
  }
  .btn-gamble {
    background-color: #FDA328;
    border-radius: 25px;
    padding: 0 20px 0 20px;
  }

  /***** List *****/
  .list-mobile {
    padding: 0;
    width: 100%;
    height: 220px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .list-mobile::-webkit-scrollbar {
    width: 10px;
  }

  .list-mobile::-webkit-scrollbar-thumb {
    background-color: #2E3035;
    border-radius: 10px;
  }

  .list-mobile::-webkit-scrollbar-thumb:active {
    background-color: #737171;
  }

  .list-mobile::-webkit-scrollbar-thumb:hover {
    background-color: #792fe8;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  }
  .list-item-mobile {
    margin: 0 0 20px 0;
    text-align: center;
  }

}

/***** MOBILE *****/
@media only screen and (min-width: 350px) and (orientation: portrait) {
  #mobile {
    display: inline;
  }
  #desktop {
    display: none;
  }
  .mat-expansion-panel-header-title {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
  }
  .mat-expanded {
    background-color: #2E3035;
  }
  .label-mobile {
    font-size: 14px;
    line-height: 16px;
    opacity: 0.5;
  }
  .item-mobile {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
  }
  .container-button-mobile {
    text-align: center;
  }
  /* Buttons */
  .btn-grid-mobile {
    border-radius: 25px;
    background-color: #FDA328;
  }
  .btn-gamble {
    background-color: #FDA328;
    border-radius: 25px;
    padding: 0 20px 0 20px;
  }
  .btn-join {
    background-color: #FDA328;
    color: white;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    font-size: 14px;
    line-height: 30px;
    padding: 0 30px 0 30px;
  }
  .list-vertical{
    padding: 0;
  }
  .item-vertical{
    text-align: center;
    margin: 0 0 20px 0;
  }

}

/* DESKTOP 720 */
@media only screen and (min-width: 1280px) and (orientation: landscape) {
  .card {
    width: 100%;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    padding: 0 0 10px 0;
    background-color: #2E3035;
  }
  .card-information {
    height: 250px;
  }
  .card-participants {
    height: 100px;
  }
  .card-matches {
    height: 500px;
  }
  .card-header {
    padding: 15px 30px 5px 30px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: #424448;
  }
  .special-background {
    background-color: #792fe8;
  }
  .card-title {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
  }
  .card-body {
    background-color: #2E3035;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    padding: 20px;
  }
  .label-card {
    font-size: 12px;
    line-height: 14px;
    opacity: 0.5;
  }
  .item-card {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
  }
  .card-footer {
    padding: 0;
    text-align: center;
  }
  .btn-join {
    background-color: #FDA328;
    color: white;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    font-size: 14px;
    line-height: 30px;
    padding: 0 30px 0 30px;
  }
  .list-vertical{
    padding: 0;
  }
  .item-vertical{
    text-align: center;
    margin: 0 0 20px 0;
  }
}
/* DESKTOP 1080p */
@media only screen and (min-width: 1900px) and (orientation: landscape) {
  .card {
    width: 100%;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    padding: 0 0 10px 0;
    background-color: #2E3035;
  }
  .card-information {
    height: 300px;
  }
  .card-participants {
    height: 150px;
  }
  .card-matches {
    height: 600px;
  }
  .card-header {
    padding: 15px 30px 5px 30px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: #424448;
  }
  .special-background {
    background-color: #792fe8;
  }
  .card-title {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
  }
  .card-body {
    background-color: #2E3035;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    padding: 20px;
  }
  .label-card {
    font-size: 14px;
    line-height: 16px;
    opacity: 0.5;
  }
  .item-card {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
  }
  .card-footer {
    padding: 0;
    text-align: center;
  }
  .btn-join {
    background-color: #FDA328;
    color: white;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    font-size: 14px;
    line-height: 30px;
    padding: 0 30px 0 30px;
  }
  .list-vertical{
    padding: 0;
  }
  .item-vertical{
    text-align: center;
    margin: 0 0 20px 0;
  }
}
