<div class="row header-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-10">
                        <p class="header-page-title">Organiza una Penka</p>
                    </div>
                    <div class="col-lg-2">
                        <div class="row">
                            <div class="col-lg-12" style="padding-top: 10px">
                                <span class="labelSteps">PASO</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <span class="stepNumber">1</span>
                                <span class="stepTotal"> de 4</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="box">
                <p class="section-title">Para comenzar haz tu seleccion:</p>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-4 center-lg">
            <div class="box">
                <a [routerLink]="['/penka/new2', 'templates']">
                    <img alt="" class="tournament" src="../../../../assets/images/makePenka/template.png">
                </a>
            </div>
        </div>
        <div class="col-lg-4 center-lg">
            <div class="box">
                <a [routerLink]="['/penka/new2', 'singleMatches']">
                    <img alt="" class="tournament" src="../../../../assets/images/makePenka/singleMatch.png">
                </a>
            </div>
        </div>
    </div>
</div>
