<app-page-header-steps [title]="title" [stepNumber]="stepNumber" [stepTotal]="stepTotal"></app-page-header-steps>
<br>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-lg-12">
            <div class="box">
                <p class="section-title">Para comenzar haz tu seleccion:</p>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-12 col-lg-4">
            <div class="box">
                <a [routerLink]="['/penka/new2', 'templates']">
                    <img alt="" class="img-tournament" src="../../../../assets/images/makePenka/template.png">
                </a>
            </div>
        </div>
        <div class="col-xs-12 col-lg-4">
            <div class="box">
                <a [routerLink]="['/penka/new2', 'singleMatches']">
                    <img alt="" class="img-tournament" src="../../../../assets/images/makePenka/singleMatch.png">
                </a>
            </div>
        </div>
    </div>
</div>
