<div class="row">
    <div class="col-xs-12" style="background-color: purple">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <p class="tituloHeader">{{template.name}}</p>
                </div>
            </div>
        </div>

    </div>
</div>


<!-- BUTTON BACK-->
<div class="row">
    <div class="col-xs-12">
        <button mat-button>
            <mat-icon>keyboard_backspace</mat-icon>
            Volver
        </button>
    </div>
</div>
<!-- SEND INVITATION -->
<div class="row">
    <div class="col-xs-12">
        <h1>Invitaa tus amigos</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 row between-xs">
        <p>Codigo de penka: &nbsp;</p>
        <button [cdkCopyToClipboard]="value">Copiar</button>
    </div>
</div>

<!-- SOCIAL MEDIA -->
<div class="row">
    <div class="col-xs-12">

    </div>
</div>

<div class="row">
    <div class="col-xs-8">
        <form action="">
            <!-- NAME -->
            <mat-form-field appearance="fill">
                <mat-label>Nombre de tu Penka</mat-label>
                <input matInput>
            </mat-form-field>

        </form>
    </div>
    <div class="col-xs-4">

    </div>
</div>
