<ng-container *ngIf="participants$ | async as participants">
    <ng-container *ngFor="let part of participants | filterUserId:user.uid | filterStatus:'1'; let i = index">
        <ng-container *ngIf="i === 0">

            <ng-container *ngIf="codePenka; else default">
                <div class="row">
                    <div class="col-lg-9">
                        <ng-container *ngFor="let penka of penkas | filterCodePenka:codePenka">
                            <mat-card class="card-penka">
                                <mat-card-header class="card-penka-header">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-5">
                                                <p class="card-header-title">{{penka.name}}</p>
                                                <p class="card-header-subTitle">{{penka.makerName}}</p>
                                            </div>
                                            <div class="col-lg-2 col-lg-offset-5">
                                                <button mat-stroked-button class="btn-watch"
                                                        (click)="goWatch(penka.id)">
                                                    Ver mas
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </mat-card-header>
                                <mat-card-content class="card-penka-content">
                                    <div class="row">
                                        <div class="col-lg-4 score-section">
                                            <p class="title-section">Puntajes</p>
                                            <ng-container *ngIf="participants$ | async as participants">
                                                <ul class="mat-nav-list list-participants">
                                                    <li class="mat-list-item list-participants-item"
                                                        *ngFor="let p of participants | filterCodePenka:penka.codePenka">
                                                        <div class="row between-xs participant">
                                                            <p class="label-participant">{{p.userName}}</p>
                                                            <p class="label-participant">{{p.accumulatedScore}}&nbsp;pts</p>
                                                        </div>
                                                        <hr>
                                                    </li>
                                                </ul>

                                            </ng-container>
                                        </div>
                                        <div class="col-xs-4 gambles-section">
                                            <p class="title-section">Partidos Jugados</p>
                                            <ng-container *ngIf="listMatches$ | async as listMatches">

                                                <ng-container *ngIf="penka.typePenka === 'template'">
                                                    <ul class="mat-nav-list list-matches">
                                                        <li class="mat-list-item list-matches-items"
                                                            *ngFor="let lm of listMatches | filterCodeTemplate:penka.codeTemplate | filterStatus:'1'; let x=index">

                                                            <div *ngIf="x <= 3">
                                                                <app-match-mini-gamble
                                                                    [matchDate]="lm.startDate"
                                                                    [homeTeamFlag]="lm.homeTeamFlag"
                                                                    [visitTeamFlag]="lm.visitTeamFlag"
                                                                ></app-match-mini-gamble>
                                                            </div>

                                                        </li>
                                                    </ul>
                                                </ng-container>
                                                <ng-container *ngIf="penka.typePenka === 'singleMatches'">
                                                    <ul class="mat-nav-list list-matches">
                                                        <li class="mat-list-item list-matches-items"
                                                            *ngFor="let lm of listMatches | filterCodePenka:penka.codePenka | filterStatus:'1'; let x=index">

                                                            <div *ngIf="x <= 3">
                                                                <app-match-mini-gamble
                                                                    [matchDate]="lm.startDate"
                                                                    [homeTeamFlag]="lm.homeTeamFlag"
                                                                    [visitTeamFlag]="lm.visitTeamFlag"
                                                                ></app-match-mini-gamble>
                                                            </div>

                                                        </li>
                                                    </ul>
                                                </ng-container>

                                            </ng-container>
                                        </div>
                                        <div class="col-xs-4 matches-section">
                                            <p class="title-section">Proximos Partidos</p>
                                            <ng-container *ngIf="listMatches$ | async as listMatches">

                                                <ng-container *ngIf="penka.typePenka === 'template'">
                                                    <ul class="mat-nav-list list-matches">
                                                        <li class="mat-list-item list-matches-items"
                                                            *ngFor="let lm of listMatches | filterCodeTemplate:penka.codeTemplate | filterStatus:'1'; let x = index">

                                                            <div *ngIf="x <= 3">
                                                                <app-match-mini
                                                                    [matchDate]="lm.startDate"
                                                                    [homeTeamFlag]="lm.homeTeamFlag"
                                                                    [visitTeamFlag]="lm.visitTeamFlag"
                                                                ></app-match-mini>
                                                            </div>

                                                        </li>
                                                    </ul>
                                                </ng-container>

                                                <ng-container *ngIf="penka.typePenka === 'singleMatches'">
                                                    <ul class="mat-nav-list list-matches">
                                                        <li class="mat-list-item list-matches-items"
                                                            *ngFor="let lm of listMatches | filterCodePenka:penka.codePenka | filterStatus:'1'; let x = index">

                                                            <div *ngIf="x <= 3">
                                                                <app-match-mini
                                                                    [matchDate]="lm.startDate"
                                                                    [homeTeamFlag]="lm.homeTeamFlag"
                                                                    [visitTeamFlag]="lm.visitTeamFlag"
                                                                ></app-match-mini>
                                                            </div>

                                                        </li>
                                                    </ul>
                                                </ng-container>

                                            </ng-container>
                                            <br>
                                            <button mat-button class="btn-goGamble">
                                                Llenar resultados
                                            </button>
                                            <br>
                                            <br>
                                        </div>
                                    </div>
                                </mat-card-content>
                            </mat-card>
                        </ng-container>

                    </div>
                    <!-- Buttons Select Penkas -->
                    <div class="col-lg-3 select-penka">
                        <div class="box">
                            <ng-container *ngIf="participants$ | async as participants">

                                <!-- List Buttons -->
                                <ul class="list-penkas">

                                    <!-- Button x Penka -->
                                    <li class="list-penka-item"
                                        *ngFor="let part of participants | filterUserId:user.uid">

                                        <!-- Penka -->
                                        <div *ngFor="let penka of penkas | filterCodePenka:part.codePenka">
                                            <button mat-button (click)="view(penka.codePenka)" class="btn-select-penka">
                                                {{penka.name}}
                                            </button>
                                        </div>
                                    </li>
                                </ul>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </ng-container>

            <ng-template #default>
                <div class="row">
                    <div class="col-lg-9">
                        <ng-container *ngFor="let penka of penkas | filterCodePenka:part.codePenka">
                            <mat-card class="card-penka">
                                <mat-card-header class="card-penka-header">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-5">
                                                <p class="card-header-title">{{penka.name}}</p>
                                                <p class="card-header-subTitle">{{penka.makerName}}</p>
                                            </div>
                                            <div class="col-lg-2 col-lg-offset-5">
                                                <button mat-stroked-button class="btn-watch"
                                                        (click)="goWatch(penka.id)">
                                                    Ver mas
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </mat-card-header>
                                <mat-card-content class="card-penka-content">
                                    <div class="row">
                                        <div class="col-lg-4 score-section">
                                            <p class="title-section">Puntajes</p>
                                            <ng-container *ngIf="participants$ | async as participants">
                                                <ul class="mat-nav-list list-participants">
                                                    <li class="mat-list-item list-participants-item"
                                                        *ngFor="let p of participants | filterCodePenka:penka.codePenka">
                                                        <div class="row between-xs participant">
                                                            <p class="label-participant">{{p.userName}}</p>
                                                            <p class="label-participant">{{p.accumulatedScore}}&nbsp;pts</p>
                                                        </div>
                                                        <hr>
                                                    </li>
                                                </ul>

                                            </ng-container>
                                        </div>
                                        <div class="col-xs-4 gambles-section">
                                            <p class="title-section">Partidos Jugados</p>
                                            <ng-container *ngIf="listMatches$ | async as listMatches">

                                                <ng-container *ngIf="penka.typePenka === 'template'">
                                                    <ul class="mat-nav-list list-matches">
                                                        <li class="mat-list-item list-matches-items"
                                                            *ngFor="let lm of listMatches | filterCodeTemplate:penka.codeTemplate | filterStatus:'1'; let x=index">

                                                            <div *ngIf="x <= 3">
                                                                <app-match-mini-gamble
                                                                    [matchDate]="lm.startDate"
                                                                    [homeTeamFlag]="lm.homeTeamFlag"
                                                                    [visitTeamFlag]="lm.visitTeamFlag"
                                                                ></app-match-mini-gamble>
                                                            </div>

                                                        </li>
                                                    </ul>
                                                </ng-container>

                                                <ng-container *ngIf="penka.typePenka === 'singleMatches'">
                                                    <ul class="mat-nav-list list-matches">
                                                        <li class="mat-list-item list-matches-items"
                                                            *ngFor="let lm of listMatches | filterCodePenka:penka.codePenka | filterStatus:'1'; let x=index">

                                                            <div *ngIf="x <= 3">
                                                                <app-match-mini-gamble
                                                                    [matchDate]="lm.startDate"
                                                                    [homeTeamFlag]="lm.homeTeamFlag"
                                                                    [visitTeamFlag]="lm.visitTeamFlag"
                                                                ></app-match-mini-gamble>
                                                            </div>

                                                        </li>
                                                    </ul>
                                                </ng-container>

                                            </ng-container>
                                        </div>
                                        <div class="col-xs-4 matches-section">
                                            <p class="title-section">Proximos Partidos</p>
                                            <ng-container *ngIf="listMatches$ | async as listMatches">

                                                <ng-container *ngIf="penka.typePenka === 'template'">
                                                    <ul class="mat-nav-list list-matches">
                                                        <li class="mat-list-item list-matches-items"
                                                            *ngFor="let lm of listMatches | filterCodeTemplate:penka.codeTemplate | filterStatus:'1'; let x = index">
                                                            <div *ngIf="x <= 3">
                                                                <app-match-mini
                                                                    [matchDate]="lm.startDate"
                                                                    [homeTeamFlag]="lm.homeTeamFlag"
                                                                    [visitTeamFlag]="lm.visitTeamFlag"
                                                                ></app-match-mini>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </ng-container>

                                                <ng-container *ngIf="penka.typePenka === 'singleMatches'">
                                                    <ul class="mat-nav-list list-matches">
                                                        <li class="mat-list-item list-matches-items"
                                                            *ngFor="let lm of listMatches | filterCodePenka:penka.codePenka | filterStatus:'1'; let x = index">
                                                            <div *ngIf="x <= 3">
                                                                <app-match-mini
                                                                    [matchDate]="lm.startDate"
                                                                    [homeTeamFlag]="lm.homeTeamFlag"
                                                                    [visitTeamFlag]="lm.visitTeamFlag"
                                                                ></app-match-mini>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </ng-container>

                                            </ng-container>
                                            <br>
                                            <button mat-button class="btn-goGamble">
                                                Llenar resultados
                                            </button>
                                            <br>
                                            <br>
                                        </div>
                                    </div>
                                </mat-card-content>
                            </mat-card>
                        </ng-container>

                    </div>
                    <!-- Buttons Select Penkas -->
                    <div class="col-lg-3 select-penka">
                        <div class="box">
                            <ng-container *ngIf="participants$ | async as participants">

                                <!-- List Buttons -->
                                <ul class="list-penkas">

                                    <!-- Button x Penka -->
                                    <li class="list-penka-item"
                                        *ngFor="let part of participants | filterUserId:user.uid">

                                        <!-- Penka -->
                                        <div *ngFor="let penka of penkas | filterCodePenka:part.codePenka">
                                            <button mat-button (click)="view(penka.codePenka)" class="btn-select-penka">
                                                {{penka.name}}
                                            </button>
                                        </div>
                                    </li>
                                </ul>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </ng-template>


        </ng-container>
    </ng-container>
</ng-container>



