/* MOBILE 300p */
@media only screen and (min-width: 300px) and (orientation: portrait) {
  .desktop {
    display: none;
  }
  .mobile {
    display: inline;
  }
  .mat-toolbar {
    width: 100%;
    padding:0;
  }
  .brand {
    width: 20px;
    text-align: left;
    padding: 0;
  }
  .session {
    width: 240px;
    text-align: center;
    padding: 0;
  }
  .menu {
    width: 30px;
    text-align: right;
    padding: 0;
  }
}
/* MOBILE 350p */
@media only screen and (min-width: 350px) and (orientation: portrait) {
  .desktop {
    display: none;
  }
  .mobile {
    display: inline;
  }
  .mat-toolbar {
    width: 100%;
    padding: 5px 0 0 0;
  }
  .brand {
    width: 50px;
    text-align: left;
    padding: 0;
  }
  .session {
    width: 250px;
    text-align: center;
    padding: 0;
  }
  .menu {
    width: 50px;
    text-align: right;
    padding: 0;
  }
}

/* DESKTOP */
@media only screen and (min-width: 1280px) and (orientation: landscape) {
  .desktop {
    display: inline;
  }
  .mobile {
    display: none;
  }
  .mat-toolbar {
    width: 100% !important;
    padding: 5px 0 0 0;
  }
  .brand {
    width: 10%;
    text-align: left;
    padding: 0;
  }
  .session {
    width: 10%;
    padding: 0;
    text-align: right;
  }
  .menu {
    width: 80%;
    text-align: right;
    padding: 0;
  }
}
