.card-penka {
    padding: 0;
    background-color: transparent;
    border: 0;
    border-radius: 25px;
}

/* Header */
.card-penka-header {
    background-color: #792fe8;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: 10px 20px 5px 10px;
}

.card-header-subTitle {
    margin-top: -5px;
}

.btn-watch {
    float: right;
    border-radius: 25px;
    border: 2px solid white;
}


/* Body */
.card-penka-content {
    background-color: #2E3035;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

/* --- Labels --- */
.title-section {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 16px;
    font-style: normal;
    line-height: 24px;
    text-align: center;
}

/* ---  Sections Participants --- */
.participants-section {
    padding: 10px 10px 0 10px;
    height: 300px;
}

.list-participants {
    list-style-type: none;
}

.list-participants-item {
    padding: 0 10px 0 10px;
}

.participant {
    margin: 5px;
}

.label-participant {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-weight: 300;
    font-size: 12px;
    font-style: normal;
    line-height: 16px;
    color: gray;
    padding: 0;
    margin: 0;
}

hr {
    border: 1px solid #5b5b5b;
    width: 100%;
    padding: 0;
    margin: 0;
}

/* --- Gambles Section --- */
.gambles-section {
    padding: 10px 10px 0 0;
    height: 300px;
}

.gamble-container {
    background-color: transparent;
    display: inline-flex;
    margin: 0;
    padding: 0;
}

.gamble {
    height: 22px;
    width: 30px;
    padding-bottom: 0;
    padding-left: 10px;
    background-color: #000;
    border-bottom-left-radius: 25px;
}

.score {
    height: 22px;
    width: 30px;
    padding-bottom: 0;
    padding-right: 10px;
    background-color: #27AE60;
    border-bottom-right-radius: 25px;
}

.teamFlag {
    height: 30px;
    margin-right: 5px;
}

.separator {
    margin-right: 5px;
    margin-top: 5px;
}


.dateMatch {
    padding: 0;
    margin: 0;
    text-align: center;
}

.dateMatch p {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 10px;
    font-weight: 400;
    font-style: normal;
    color: gray;
    margin: 0;
}

.btn-goGamble {
    float: right;
    margin-right: 30px;
    border-radius: 25px;
    background-color: #FDA328;
}

/* ----  Next Matches ---- */
.matches-section {
    padding: 10px 10px 0 0;
    height: 300px;
}

.list-matches {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    list-style-type: none;
}

.list-matches-items {
    margin-bottom: 10px;
}

.list-matches-items:hover {
    background-color: transparent;
}

.containerMatch {
    display: inline-grid;

}

.match {
    background-color: #414347;
    border-radius: 20px;
    display: inline-flex;
    padding: 5px 10px 1px 20px;
    margin: 0;
}


