<mat-card>
    <mat-card-header class="center-xs">
        <p>{{match.startDate}} - {{match.startTime}} hs</p>
    </mat-card-header>
    <mat-card-content>
        <div class="match row between-xs">
            <div>
                <img alt="" src="{{match.homeTeamFlag}}">
                <p class="team">{{match.homeTeamAlias}}</p>
            </div>
            <div class="vs">
                <p>VS</p>
            </div>
            <div>
                <img alt="" src="{{match.visitTeamFlag}}">
                <p class="team">{{match.visitTeamAlias}}</p>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div class="row center-xs competition">
            <ng-container *ngIf="competition$ | async as competition">
                <img alt="" height="15" src="{{competition.flagUrl}}" width="15">
                <p>{{competition.name}}</p>
            </ng-container>
        </div>
    </mat-card-content>
</mat-card>
