@media (min-width: 1900px) {
    //card component
    .mat-card {
        width: 240px;
        padding: 0;
        background-color: red;
        border-radius: 15px;
    }
    .selected {
        border: 2px solid #FDA328;
    }
    .unSelected {

    }
    .mat-card-header {
        background-color: #C4C4C4;
        padding: 5px 0 5px 0;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
    }

    .mat-card-header p {
        font-family: Roboto, "Helvetica Neue", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 12px;
        color: #232529;
        margin: 0;
    }
    .mat-card-content {
        padding-top: 20px;
        padding-left: 15%;
        background-color: #2E3035;
        border-bottom: 1px solid gray;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
    }


    /* ///////////////////// */
    /*      typography       */
    .mat-card-title {
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 14px;
    }
    .mat-card-subtitle {
        font-family: Roboto, "Helvetica Neue", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 12px;
    }
    .nMatches {
        text-align: center;
        background-color: #4C4E52;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        font-family: 'Poppins', sans-serif;
        font-size: 11px;
        font-weight: 400;
        font-style: normal;
        padding-bottom: 2px;
    }

    .label {
        font-family: Roboto, "Helvetica Neue", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 12px;
        color: gray;
        margin-bottom: 0;
    }

    .bet {
        color: #27AE60;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 14px;
    }

    .dataFixed {
        color: white;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 14px;
    }

    .currentData {
        color: #FDA328;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 14px;
    }

    /* ////////////////////////// */
    /* //////// Buttons ///////// */
    .btn-play {
        font-family: Roboto, "Helvetica Neue", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 14px;
        margin-top: 15px;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        width: 100%;
        background-color: #FDA328;
    }

    .btn-watch {
        padding: 0;
        border-radius: 15px;
        border: 1px solid white;
        font-size: 0.7rem;
    }

    /* ////////////////////////// */
    /* //////// Match /////////// */
    .mat-grid-tile {
        text-align: center;
    }
    .dateMatch {
        color: gray;
        font-family: Roboto, "Helvetica Neue", sans-serif;
        font-weight: 400;
        font-size: 10px;
        font-style: normal;
    }

    .match {
        width: 90%;
        padding: 0;
    }
    .match img {
        width: 45px;
        height: 45px;
        margin-bottom: 0;
    }
    .team {
        font-family: Roboto, "Helvetica Neue", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 16.5px;
        line-height: 22px;
    }
    .vs {
        padding-top: 15px;
    }
    .vs p {
        color: white;
        font-family: 'Poppins', sans-serif;
        font-size: 18.3px;
        font-weight: 700;
        font-style: normal;
        background-color: #792fe8;
        padding: 10px;
        border-radius: 50%;
    }
    .competition {
        padding-top: 15px;
        width: 90%;
    }
    .competition img {
        margin-right: 10px;
        background-color: white;
        border-radius: 50%;
        padding: 3px;
    }
    .competition p {
        font-family: Roboto, "Helvetica Neue", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 12px;
    }


    .separatorMatch {
        color: white;
        font-family: Roboto, "Helvetica Neue", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 12px;
        margin-bottom: 0;
    }

}
