<ng-container *ngIf="auth.user$ | async; then authenticated else guess"></ng-container>

<ng-template #authenticated>
    <!-- DESKTOP -->
    <div class="desktop">
        <nav>
            <a mat-button routerLink="home">
                <mat-icon fontSet="material-icons-outlined">home</mat-icon>
                Home
            </a>
            <a mat-button routerLink="penka/new">
                <mat-icon fontSet="material-icons-outlined">addchart</mat-icon>
                Organizar
            </a>
            <a mat-button routerLink="penka/join">
                <mat-icon fontSet="material-icons-outlined">emoji_events</mat-icon>
                Participa
            </a>
            <a mat-button routerLink="penka/penkas">
                <mat-icon fontSet="material-icons-outlined">format_list_bulleted</mat-icon>
                Mis Penkas
            </a>
            <a mat-button routerLink="layout/faq">
                <mat-icon fontSet="material-icons-outlined">sports</mat-icon>
                Reglamento
            </a>
            <a mat-button routerLink="/inbox">
                <mat-icon fontSet="material-icons-outlined">inbox</mat-icon>
                Inbox
            </a>
            <a mat-button>
                <mat-icon><img alt="" src="../../../../assets/images/header/spain.svg"></mat-icon>
                ES
            </a>
        </nav>
    </div>

    <!-- MOBILE -->
    <div class="mobile">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon fontSet="material-icons-outlined">menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <a mat-menu-item routerLink="home">
                <mat-icon fontSet="material-icons-outlined">home</mat-icon>
                Home
            </a>
            <a mat-menu-item routerLink="penka/new">
                <mat-icon fontSet="material-icons-outlined">addchart</mat-icon>
                Organizar
            </a>
            <a mat-menu-item routerLink="penka/join">
                <mat-icon fontSet="material-icons-outlined">emoji_events</mat-icon>
                Participa
            </a>
            <a mat-menu-item routerLink="penka/penkas">
                <mat-icon fontSet="material-icons-outlined">format_list_bulleted</mat-icon>
                Mis Penkas
            </a>
            <a mat-menu-item routerLink="layout/faq">
                <mat-icon fontSet="material-icons-outlined">sports</mat-icon>
                Reglamento
            </a>
            <a mat-menu-item routerLink="/inbox">
                <mat-icon fontSet="material-icons-outlined">inbox</mat-icon>
                Inbox
            </a>
            <a mat-menu-item>
                <mat-icon><img alt="" src="../../../../assets/images/header/spain.svg"></mat-icon>
                ES
            </a>
        </mat-menu>
    </div>
</ng-template>

<ng-template #guess>
    <!-- DESKTOP -->
    <div class="desktop">
        <nav>
            <a mat-button routerLink="home">
                <mat-icon fontSet="material-icons-outlined">home</mat-icon>
                Home
            </a>
            <a mat-button routerLink="#">
                <mat-icon fontSet="material-icons-outlined">addchart</mat-icon>
                Que es Penka?
            </a>
            <a mat-button routerLink="layout/faq">
                <mat-icon fontSet="material-icons-outlined">sports</mat-icon>
                Reglamento
            </a>
            <a mat-button>
                <mat-icon fontSet="material-icons-outlined"><img
                    alt="" src="../../../../assets/images/header/spain.svg"></mat-icon>
                ES
            </a>
        </nav>
    </div>

    <!-- MOBILE -->
    <div class="mobile">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon fontSet="material-icons-outlined">menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <a mat-menu-item routerLink="home">
                <mat-icon fontSet="material-icons-outlined">home</mat-icon>
                Home
            </a>
            <a mat-menu-item routerLink="#">
                <mat-icon fontSet="material-icons-outlined">addchart</mat-icon>
                Que es Penka?
            </a>
            <a mat-menu-item routerLink="layout/faq">
                <mat-icon fontSet="material-icons-outlined">sports</mat-icon>
                Reglamento
            </a>
            <a mat-menu-item>
                <mat-icon><img alt="" src="../../../../assets/images/header/spain.svg"></mat-icon>
                ES
            </a>
        </mat-menu>
    </div>
</ng-template>






