<div class="row header-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="box">
                    <p class="header-page-title">Inbox</p>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="box">
                <app-request></app-request>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="box">
            </div>
        </div>
    </div>
</div>
