/* MOBILE 300p */
@media only screen and (min-width: 300px) and (orientation: portrait) {
    .container-button-mobile {
        padding-top: 50px;
        text-align: center;
    }
    .container-gambles-mobile {
        width: 100%;
        border: 0;
        overflow-y: auto;
        background-color: transparent;
    }

    /* List */
    .list-mobile {
        padding: 0;
    }

    .list-item-mobile {
        margin-bottom: 20px;
    }
    /* Buttons */
    .btn-ready {
        background-color: #792fe8;
        border-radius: 25px;
        padding: 0 60px 0 60px;
    }
}
/* MOBILE 350p */
@media only screen and (min-width: 350px) and (orientation: portrait) {
    .container-button-mobile {
        padding-top: 50px;
        text-align: center;
    }
    .container-gambles-mobile {
        width: 100%;
        border: 0;
        overflow-y: auto;
        background-color: transparent;
    }

    /* List */
    .list-mobile {
        padding: 0;
    }

    .list-item-mobile {
        margin-bottom: 20px;
    }
    /* Buttons */
    .btn-ready {
        background-color: #792fe8;
        border-radius: 25px;
        padding: 0 60px 0 60px;
    }
}
/* DESKTOP 720p */
@media only screen and (min-width: 1280px) and (orientation: landscape) {
    .card-gamble {
        margin: 0;
        padding: 0;
        border: 0;
        background-color: transparent;
        border-radius: 25px;
    }

    .card-gamble-content {
        height: 400px;
        padding: 0 0 5px 20px;
        border: 0;
        overflow-y: auto;
        background-color: transparent;
    }

    .card-gamble-content::-webkit-scrollbar {
        width: 10px;
    }

    .card-gamble-content::-webkit-scrollbar-thumb {
        background-color: #2E3035;
        border-radius: 10px;
    }

    .card-gamble-content::-webkit-scrollbar-thumb:active {
        background-color: #737171;
    }

    .card-gamble-content::-webkit-scrollbar-thumb:hover {
        background-color: #792fe8;
        box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    }

    /* List */
    ul {
        padding: 0;
    }

    li {
        padding-left: 20px;
        margin-bottom: 30px;
    }

    .card-gamble-footer {
        background-color: transparent;
        border: 0;
        text-align: center;
        padding-top: 20px;
    }

    .btn-save {
        background-color: #FDA328;
        border-radius: 25px;
        padding: 0 40px 0 40px;
    }

    .btn-ready {
        background-color: #792fe8;
        border-radius: 25px;
        padding: 0 60px 0 60px;
    }
}
