<div class="desktop">
    <div class="wrapper">
        <div class="text-section wrapper">
            <div>
                <img class="logo-desktop" src="../../../../assets/images/header/logo.png">
                <p class="title">Inicia Sesión</p>
                <p class="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;en Penka</p>
            </div>
            <div class="btn-wrapper">
                <!-- <button mat-button class="btn-signin">
                <img class="facebook" src="../../../../assets/images/login/facebook.png">
            </button> -->
                <button mat-button class="btn-signin" (click)="auth.googleSignin()">
                    <img class="google" src="../../../../assets/images/login/google.png">
                </button>
            </div>
            <!-- <mat-divider class="divider"></mat-divider>
        <div class="input-wrapper">
        </div> -->
        </div>
        <div class="image-section">
        </div>
    </div>
</div>

<div class="mobile">
    <div class="wrapper">
        <div class="text-section-mobile wrapper">
            <div>
                <img class="logo-desktop" src="../../../../assets/images/header/logo.png">
                <p class="title">Inicia Sesión</p>
                <p class="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;en Penka</p>
            </div>
            <div class="btn-wrapper">
                <!-- <button mat-button class="btn-signin">
                <img class="facebook" src="../../../../assets/images/login/facebook.png">
            </button> -->
                <button mat-button class="btn-signin" (click)="auth.googleSignin()">
                    <img class="google" src="../../../../assets/images/login/google.png">
                </button>
            </div>
            <!-- <mat-divider class="divider"></mat-divider>
        <div class="input-wrapper">
        </div> -->
        </div>
    </div>