<div class="row">
    <div class="col-lg-8 col-lg-offset-2 center-lg">
        <div class="box dateMatch">{{matchDate}}</div>
    </div>
    <div class="col-lg-8 col-lg-offset-2">
        <div class="box match row between-xs">
            <img alt="" src="{{homeTeamFlag}}">
            <p class="separatorMatch"> &nbsp; : &nbsp; </p>
            <img alt="" src="{{visitTeamFlag}}">
        </div>
    </div>
    <div class="col-lg-8 col-lg-offset-2">
        <div class="box gamble center-lg">
            <div class="matchGamble">
                <p>2</p>
                <p>-</p>
                <p>1</p>
            </div>
            <div class="matchScore">
                <p>3+</p>
            </div>
        </div>
    </div>
</div>
