.dateMatch {
    color: gray;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: 10px;
    font-style: normal;
}

.match {
    padding: 5px 15px 5px 15px;
    background-color: #414347;
    border-radius: 15px;
}

.match img {
    width: 25px;
    height: 25px;
    margin-bottom: 0;
}

.separatorMatch {
    color: white;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    margin-bottom: 0;
}

/* --- gamble --- */
.gamble {
    display: inline-flex;
    text-align: center;
}

.matchGamble {
    height: 22px;
    background-color: black;
    padding: 0 10px 0 10px;
    border-bottom-left-radius: 20px;
}

.matchGamble p {
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    line-height: 16px;
    letter-spacing: 0.75px;
}

.matchScore {
    height: 22px;
    background-color: #27ae60;
    padding: 0 10px 0 10px;
    border-bottom-right-radius: 20px;
}

.matchScore p {
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    line-height: 16px;
    letter-spacing: 0.75px;
}
