/***** MOBILE *****/
@media only screen and (min-width: 350px) and (orientation: portrait) {
  #mobile {
    display: inline;
  }
  #desktop {
    display: none;
  }
  .mat-expansion-panel-header-title {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
  }
  .mat-expanded {
    background-color: #2E3035;
  }
  .label-mobile {
    font-size: 14px;
    line-height: 16px;
    opacity: 0.5;
  }
  .item-mobile {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
  }
  .container-button-mobile {
    text-align: center;
  }
  /* Buttons */
  .btn-grid-mobile {
    border-radius: 25px;
    background-color: #FDA328;
  }
  .btn-gamble {
    background-color: #FDA328;
    border-radius: 25px;
    padding: 0 20px 0 20px;
  }

  /***** List *****/
  .list-mobile {
    padding: 0;
    width: 100%;
    height: 220px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .list-mobile::-webkit-scrollbar {
    width: 10px;
  }

  .list-mobile::-webkit-scrollbar-thumb {
    background-color: #2E3035;
    border-radius: 10px;
  }

  .list-mobile::-webkit-scrollbar-thumb:active {
    background-color: #737171;
  }

  .list-mobile::-webkit-scrollbar-thumb:hover {
    background-color: #792fe8;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  }
  .list-item-mobile {
    margin: 0 0 20px 0;
    text-align: center;
  }
  .btn-back {
    background-color: #54a554;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    font-size: 12px;
    float: right;
    padding: 0 20px 0 20px;
    margin: 0;
  }
  .codePenka {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #FDA328;
  }
}

/* DESKTOP 720p */
@media only screen and (min-width: 1280px) and (orientation: landscape) {
  .btn-grid {
    background-color: #FDA328;
    font-size: 14px;
    line-height: 30px;
    padding: 0 20px 0 20px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
  }
  .btn-gamble {
    background-color: #FDA328;
    font-size: 14px;
    line-height: 30px;
    padding: 0 20px 0 20px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    margin: 0 0 0 20px;
  }
  .btn-finish {
    background-color: #792fe8;
    font-size: 14px;
    line-height: 30px;
    padding: 0 20px 0 20px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
  }
  .btn-toFile {
    background-color: #737171;
    font-size: 14px;
    line-height: 30px;
    padding: 0 20px 0 20px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    margin: 0 20px 0 0;
  }
  .social-img {
    width: 25px;
    height: 25px;
    margin-right: 20px;
  }
  .social-img:hover{
    cursor: pointer;
  }
  .list-matches {
    padding: 0;
    height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .list-matches::-webkit-scrollbar {
    width: 10px;
  }

  .list-matches::-webkit-scrollbar-thumb {
    background-color: #2E3035;
    border-radius: 10px;
  }

  .list-matches::-webkit-scrollbar-thumb:active {
    background-color: #737171;
  }

  .list-matches::-webkit-scrollbar-thumb:hover {
    background-color: #792fe8;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  }
  .item-matches {
    display: inline-grid;
    padding: 0;
    margin: 0 0 20px 0;
    text-align: center;
  }
  .btn-back {
    background-color: #54a554;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    font-size: 12px;
    float: right;
    padding: 0 20px 0 20px;
    margin: 0;
  }
  .codePenka {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #FDA328;
  }
}

/* DESKTOP 1080p */
@media only screen and (min-width: 1900px) and (orientation: landscape) {
  .btn-grid {
    background-color: #FDA328;
    font-size: 14px;
    line-height: 30px;
    padding: 0 20px 0 20px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
  }
  .btn-gamble {
    background-color: #FDA328;
    font-size: 14px;
    line-height: 30px;
    padding: 0 20px 0 20px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    margin: 0 0 0 20px;
  }
  .btn-finish {
    background-color: #792fe8;
    font-size: 14px;
    line-height: 30px;
    padding: 0 20px 0 20px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
  }
  .btn-toFile {
    background-color: #737171;
    font-size: 14px;
    line-height: 30px;
    padding: 0 20px 0 20px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    margin: 0 20px 0 0;
  }
  .social-img {
    width: 25px;
    height: 25px;
    margin-right: 20px;
  }
  .social-img:hover{
    cursor: pointer;
  }
  .list-matches {
    padding: 0;
    height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .list-matches::-webkit-scrollbar {
    width: 10px;
  }

  .list-matches::-webkit-scrollbar-thumb {
    background-color: #2E3035;
    border-radius: 10px;
  }

  .list-matches::-webkit-scrollbar-thumb:active {
    background-color: #737171;
  }

  .list-matches::-webkit-scrollbar-thumb:hover {
    background-color: #792fe8;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  }
  .item-matches {
    display: inline-grid;
    padding: 0;
    margin: 0 0 20px 0;
    text-align: center;
  }
  .btn-back {
    background-color: #54a554;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    font-size: 14px;
    float: right;
    padding: 0 20px 0 20px;
    margin: 0;
  }
  .codePenka {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #FDA328;
  }
}
