<div class="row">
    <div class="col-xs-9 col-lg-10">
        <div class="box">
            <p class="section-title">Partidos</p>
        </div>
    </div>
    <div class="col-xs-3 col-lg-2">
        <div class="box">
            <a mat-button [routerLink]="['/penka/new2', 'singleMatches']" class="arrow-watch-all">
                Ver Todos
                <mat-icon fontSet="material-icons-outlined">arrow_right_alt</mat-icon>
            </a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-lg-12">
        <div class="box">
            <p class="section-subTitle">Organiza una Penka seleccionando los partidos que deseas jugar.</p>
        </div>
    </div>
</div>

<ng-container *ngIf="listMatches.length > 0;">
    <div class="row">
        <div class="col-xs-8 col-lg-10">
            <div class="box">
                <p class="counterPicks">

                    <ng-container *ngIf="listMatches.length === 1">
                        <span>{{listMatches.length}}</span>
                        partido seleccionado.
                    </ng-container>

                    <ng-container *ngIf="listMatches.length > 1">
                        <span>{{listMatches.length}}</span>
                        partidos seleccionados.
                    </ng-container>

                </p>
            </div>
        </div>
        <div class="col-xs-4 col-lg-2">
            <div class="box">
                <app-button-continue [codePenka]="generateCodePenka" [url]="url"></app-button-continue>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-lg-12">
            <div class="box">
                <ul class="list-horizontal">
                    <li class="item-horizontal" *ngFor="let match of listMatches">
                        <app-single-match-picked [match]="match"></app-single-match-picked>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</ng-container>

<div class="row">
    <div class="col-xs-12 col-lg-12">
        <div class="box">
            <ul class="list-horizontal">
                <li class="item-horizontal" *ngFor="let match of singleMatches" (click)="pickTeam(match)">
                    <app-single-match [match]="match"></app-single-match>
                </li>
            </ul>
        </div>
    </div>
</div>
