/* common */
.counterPicks span {
  color: #FDA328;
}

/* MOBILE 300p */
@media only screen and (min-width: 300px) and (orientation: portrait) {
  .counterPicks {
    font-size: 12px;
    line-height: 12px;
  }
}

/* MOBILE 350p */
@media only screen and (min-width: 350px) and (orientation: portrait) {
  .counterPicks {
    font-size: 12px;
    line-height: 14px;
  }
}

/* DESKTOP 720p */
@media only screen and (min-width: 1280px) and (orientation: landscape) {
  .counterPicks {
    font-size: 14px;
    line-height: 16px;
  }
}

/* DESKTOP 1080p */
@media only screen and (min-width: 1900px) and (orientation: landscape) {
  .counterPicks {
    font-size: 16px;
    line-height: 18px;
  }
}
