<app-page-header [title]="title"></app-page-header>
<br>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-lg-12">
            <div class="box">
                <p class="section-title">¿QUÉ ES UNA PENKA?</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-lg-8">
            <div class="box">
                <p class="content-text">Una Penka es un juego cuyo principal objetivo es predecir los resultados de un
                    determinado evento deportivo. Para ello, se forman grupos en los que cada participante apuesta un
                    monto determinado por el organizador para asi formarse un pozo. Al final de la Penka el pozo será
                    dividido entre los ganadores (aquellos que acumulen más puntos) de acuerdo a los porcentajes
                    preestablecidos.
                </p>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-12 col-lg-12">
            <div class="box">
                <p class="section-title">¿CÓMO ORGANIZO UNA PENKA?</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-lg-8">
            <div class="box">
                <p class="content-text">Para crear una Penka inicia sesión, luego accede a “organiza” en el menú
                    superior y sigue los pasos especificados en cada ventana
                </p>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-12 col-lg-12">
            <div class="box">
                <p class="section-title">¿PUEDO CREAR UNA PENKA PARA ÚNICO PARTIDO? </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-lg-8">
            <div class="box">
                <p class="content-text">Sí. Elige dentro de “Organizar” la opcion de partidos sueltos, dentro de la
                    misma selecciona solamente un partido.
                </p>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-12 col-lg-12">
            <div class="box">
                <p class="section-title">¿CÓMO COMPARTIR UNA PENKA?</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-lg-8">
            <div class="box">
                <p class="content-text">Presiona el Icono de whatsapp en la pantalla principal de tu Penka, o copia el
                    código y compartelo con tus amigos para que puedan buscar la Penka en la sección “Participa”.
                </p>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-12 col-lg-12">
            <div class="box">
                <p class="section-title">¿CUÁNTO TIEMPO ANTES TENGO PARA PRONOSTICAR UN PARTIDO?
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-lg-8">
            <div class="box">
                <p class="content-text">15 min antes de la hora de inicio.
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-lg-12">
            <div class="box">
                <p class="section-title">¿CÓMO ENCUENTRO UNA PENKA CON UN CÓDIGO?
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-lg-8">
            <div class="box">
                <p class="content-text">Selecciona del menú superior la opción “Participa”, dentro de la misma al
                    comienzo verás dos casilleros para introducir información.
                </p>
            </div>
        </div>
    </div>
</div>