<div class="row banner">
    <div class="col-lg-12">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-6">
                    <p class="banner-home-title">
                        JUEGA LAS MEJORES PENCAS
                    </p>
                    <button
                        class="banner-home-button"
                        mat-raised-button>
                        Empezar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
