<p class="title">Puntajes</p>
<p class="text-help">
    {{ participants.length}} &nbsp;Participantes.
</p>
<ul class="list-participant">
    <li class="list-item" *ngFor="let p of listParticipants; let i = index">

        <div class="userName">
            <ng-container>
                <p class="pickUser" (click)="selectUser(p.userId)">
                    <ng-container *ngIf="p.place; else noPlace">
                        <ng-container *ngIf="p.place === 'primero'">
                            <img class="medal" src="../../../../assets/images/medals/medal-gold.png" alt="Primero">
                            &nbsp;
                        </ng-container>
                        <ng-container *ngIf="p.place === 'segundo'">
                            <img class="medal" src="../../../../assets/images/medals/medal-silver.png" alt="Segundo">
                            &nbsp;
                        </ng-container>
                        <ng-container *ngIf="p.place === 'tercero'">
                            <img class="medal" src="../../../../assets/images/medals/medal-bronze.png" alt="Tercer">
                            &nbsp;
                        </ng-container>
                    </ng-container>

                    <ng-template #noPlace>
                        {{i + 1}}.&nbsp;&nbsp;
                    </ng-template>

                    <span
                        [ngClass]="{'me': p.userId === selectedUserId, 'user': p.userId !== selectedUserId}">{{p.userName}}</span>
                </p>
            </ng-container>
        </div>

        <div class="userScore">
            <p [ngClass]="{'me': p.userId === selectedUserId, 'user': p.userId !== selectedUserId}">
                {{p.accumulatedScore}} pt</p>
        </div>

    </li>
</ul>
<br>