/* MOBILE 300p */
@media only screen and (min-width: 300px) and (orientation: portrait) {
  .title-section {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 14px;
    font-style: normal;
    line-height: 20px;
    text-align: center;
  }

  .list-participant {
    list-style-type: none;
    padding: 0 30px 0 30px;
  }

  .list-item {
    padding: 0;
    border-bottom: 1px solid gray;
    margin-bottom: 10px;
  }

  /* Users */
  .userName {
    display: inline-block;
    width: 80%;
    height: 16px;
    margin: 0;
    padding: 0;
  }

  .userScore {
    text-align: right;
    display: inline-block;
    width: 20%;
    height: 16px;
    margin: 0;
    padding: 0;
  }

  .me {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #FDA328;
    margin: 0;
    padding: 0;
    line-height: 14px;
  }

  .user {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 14px;
    color: white;
    margin: 0;
    padding: 0;
  }

  .pickUser {
    cursor: pointer;
  }
}

/* MOBILE 350p */
@media only screen and (min-width: 350px) and (orientation: portrait) {
  .title-section {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 14px;
    font-style: normal;
    line-height: 20px;
    text-align: center;
  }

  .list-participant {
    list-style-type: none;
    padding: 0 30px 0 30px;
  }

  .list-item {
    padding: 0;
    border-bottom: 1px solid gray;
    margin-bottom: 10px;
  }

  /* Users */
  .userName {
    display: inline-block;
    width: 80%;
    height: 16px;
    margin: 0;
    padding: 0;
  }

  .userScore {
    text-align: right;
    display: inline-block;
    width: 20%;
    height: 16px;
    margin: 0;
    padding: 0;
  }

  .me {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #FDA328;
    margin: 0;
    padding: 0;
    line-height: 14px;
  }

  .user {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 14px;
    color: white;
    margin: 0;
    padding: 0;
  }

  .pickUser {
    cursor: pointer;
  }
}

/* DESKTOP 720P */
@media only screen and (min-width: 1280px) and (orientation: landscape) {
  .title {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    margin: 0;
  }
  .text-help {
    text-align: center;
  }
  .list-participant {
    list-style-type: none;
  }

  .list-item {
    padding: 0;
    border-bottom: 1px solid gray;
    margin-bottom: 10px;
  }

  /* Users */
  .userName {
    display: inline-block;
    width: 80%;
    height: 16px;
    margin: 0;
    padding: 0;
  }

  .userScore {
    display: inline-block;
    width: 20%;
    height: 16px;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  .me {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #FDA328;
    margin: 0;
    padding: 0;
    line-height: 14px;
  }

  .user {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 14px;
    color: white;
    margin: 0;
    padding: 0;
  }

  .pickUser {
    cursor: pointer;
  }
  .medal {
    height: 20px;
  }
}
