/* DESKTOP 720p */
@media only screen and (min-width: 1280px) and (orientation: landscape) {
  .btn-back {
    background-color: #54a554;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    font-size: 12px;
    float: right;
    padding: 0 20px 0 20px;
    margin: 0;
  }
}

/* DESKTOP 1080p */
@media only screen and (min-width: 1900px) and (orientation: landscape) {
  .btn-back {
    background-color: #54a554;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    font-size: 14px;
    float: right;
    padding: 0 20px 0 20px;
    margin: 0;
  }
}
