<div class="desktop">
    <ul class="list-buttons">
        <li class="item-buttons" *ngFor="let p of penkas">
            <button mat-button class="btn-penka" [ngClass]="{'selected': selectedPenka === p.codePenka}" (click)="getPicked(p.codePenka)">
                {{p.name}}&nbsp;-&nbsp;{{p.accumulatedBet}}$
            </button>                
        </li>
    </ul>
</div>

<div class="mobile">
    <select class="selectPicker" (change)="selectPick($event.target)">
        <ng-container *ngFor="let p of penkas">
                <option value="{{p.codePenka}}">
                    <button mat-button class="btn-penka" (click)="getPicked(p.codePenka)">
                        {{p.name}}&nbsp;-&nbsp;{{p.accumulatedBet}}$
                    </button>
                </option>
        </ng-container>
    </select>
</div>
