/* MOBILE 300p */
@media only screen and (min-width: 300px) and (orientation: portrait) {
  .selectPicker {
    width: 100%;
    margin: 0 0 10px 0;
    padding: 10px;
    background-color: #FDA328;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color: white;
  }
  .btn-penka {
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    font-size: 14px;
    line-height: 80px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    background-color: #FDA328;
  }
}

/* MOBILE 350p */
@media only screen and (min-width: 350px) and (orientation: portrait) {
  .selectPicker {
    width: 100%;
    margin: 0 0 10px 0;
    padding: 10px;
    background-color: #FDA328;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color: white;
  }
  .btn-penka {
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    font-size: 14px;
    line-height: 80px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    background-color: #FDA328;
  }
}

/* DESKTOP 720p */
@media only screen and (min-width: 1280px) and (orientation: landscape) {
  .list-buttons {
    padding: 0;
    padding-right: 10%;
    margin: 0;
    height: 455px;
    overflow-y: auto;
    overflow-scrolling: auto;
  }
  .item-buttons {
    padding: 0;
    margin: 0 0 10px 0;
  }
  .btn-penka {
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    font-size: 14px;
    line-height: 80px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    background-color: #966725;
  }
  .selected {
    background-color: #FDA328;
  }
}

/* DESKTOP 1080p */
@media only screen and (min-width: 1900px) and (orientation: landscape) {
  .list-buttons {
    padding: 0;
    padding-right: 10%;
    margin: 0;
    height: 455px;
    overflow-y: auto;
    width:400px;
    overflow-scrolling: auto;
  }
  .item-buttons {
    padding: 0;
    margin: 0 0 10px 0;
  }
  .btn-penka {
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    font-size: 14px;
    line-height: 80px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    background-color: #966725;
  }
  .selected {
    background-color: #FDA328;
  }
}