.table-header {
    background-color: #792fe8;
    color: white;
    padding: 0;
}

.th {
    border: 0;
    padding-right: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline-table;
    text-align: center;
    padding: 0;
}