<div class="row header-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p class="header-page-title">Participantes</p>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-lgl-12">
            <div class="box">
                <table class="table">
                    <thead class="table-header">
                    <tr>
                        <th scope="col" class="th"></th>
                        <th scope="col" class="th">Puntos</th>

                        <ng-container *ngIf="listMatches">
                            <ul>
                                <li *ngFor="let lm of listMatches">
                                    <th scope="col" class="th">

                                        <ng-container *ngFor="let sm of singleMatches | filterId:lm.singleMatchId">
                                            <p>{{sm.homeTeamAlias}} &nbsp; - &nbsp; {{sm.visitTeamAlias}}</p>
                                            <p>{{sm.homeTeamScore}} &nbsp; - &nbsp; {{sm.visitTeamScore}}</p>
                                        </ng-container>
                                    </th>
                                </li>
                            </ul>
                        </ng-container>
                    </tr>
                    </thead>
                    <tbody>

                    <ng-container *ngIf="participants">
                        <ul>
                            <li *ngFor="let p of participants | filterCodePenka:codePenka">
                                {{p.userName}}
                            </li>
                        </ul>
                    </ng-container>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>