<ul class="list-vertical">
    <li class="item-vertical" *ngFor="let p of participants; let i = index">
        <div class="container-user">
            <ng-container *ngIf="p.userId === user.uid">
                <p>{{i + 1}}.&nbsp;&nbsp;
                    <span class="me">{{p.userName}}</span>
                </p>
            </ng-container>
            <ng-container *ngIf="p.userId !== user.uid">
                <p>{{i + 1}}.&nbsp;&nbsp;<span
                    class="user">{{p.userName}}</span></p>
            </ng-container>
        </div>

        <div class="container-score">
            <ng-container *ngIf="p.userId === user.uid">
                <p class="me">{{p.accumulatedScore}} pt</p>
            </ng-container>
            <ng-container *ngIf="p.userId !== user.uid">
                <p class="user">{{p.accumulatedScore}} pt</p>
            </ng-container>
        </div>

            <div class="container-place">
                <ng-container *ngIf="p.status === '9'">
                    <ng-container *ngIf="p.place === 'primero'">
                        <img class="medal" src="../../../../assets/images/medals/medal-gold.png" alt="Primero">
                    </ng-container>
                    <ng-container *ngIf="p.place === 'segundo'">
                        <img class="medal" src="../../../../assets/images/medals/medal-silver.png" alt="Segundo">
                    </ng-container>
                    <ng-container *ngIf="p.place === 'tercero'">
                        <img class="medal" src="../../../../assets/images/medals/medal-bronze.png" alt="Tercero">
                    </ng-container>
                </ng-container>
            </div>
    </li>
</ul>
