@media (min-width: 1900px) {

    /* ----- Container ----- */
    .card {
        width: 330px;
        padding: 0;
        border-radius: 25px;
        background-color: transparent;
        border: 0;
        margin-left: 0;
    }

    /* ----- Header ----- */
    .card-header {
        background-color: #792fe8;
        padding: 10px 10px 5px 20px;
        border-top-right-radius: 25px;
        border-top-left-radius: 25px;
    }
    .card-header p {
        margin-bottom: 5px;
    }

    /* ----- Body ----- */
    .card-body {
        margin-bottom: 0;
        background-color: #2E3035;
        padding: 0 0 10px 0;
    }
    .nMatches {
        margin: auto;
        height: 18px;
        width: 100px;
        text-align: center;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        padding: 10px 10px 0 10px;
        background-color: #4C4E52;
    }
    .nMatches-font {
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        font-style: normal;
        font-size: 11px;
        line-height: 11px;
        letter-spacing: 0.75px;
        color: white;
    }
    ul {
        list-style-type: none;
        padding: 0;
    }
    li {
        display: inline-grid;
        margin: 0 0 10px 10px;
    }

    /* ----- Footer ----- */
    .card-footer {
        padding: 10px 0 5px 20px;
        background-color: #414347;
        border-bottom-right-radius: 25px;
        border-bottom-left-radius: 25px;
    }
    .label {
        font-family: Roboto, "Helvetica Neue", sans-serif;
        font-weight: bold;
        font-style: normal;
        font-size: 12px;
        color: gray;
        margin-bottom: 0;
    }
    .limitData {
        color: #fff;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        font-style: normal;
        font-size: 14px;
    }
    .currentData {
        color: #FDA328;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        font-style: normal;
        font-size: 14px;
    }
    .bet {
        color: #27AE60;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        font-style: normal;
        font-size: 14px;
    }

    /* //////// Buttons ///////// */
    .btn-join {
        font-family: Roboto, "Helvetica Neue", sans-serif;
        font-weight: bold;
        font-style: normal;
        font-size: 14px;
        margin-top: 10px;
        border-radius: 25px;
        width: 330px;
        background-color: #FDA328;
    }

    .btn-watch {
        padding: 5px 10px 5px 10px;
        border-radius: 15px;
        border: 1px solid white;
        font-family: Roboto, "Helvetica Neue", sans-serif;
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        line-height: 16px;
    }

}
