<div class="desktop">
    <!----------------- Gambles PRO ----------------------->
    <ng-container *ngIf="match.penkaFormat === 'PRO'">
        <!-- Gambles Wait - status 1 -->
        <ng-container *ngIf="match.status === '1'">
            <div class="match-container-desktop">
                <!-- Date and Time -->
                <div class="container-date">
                    <p>{{match.startDate.toDate() | date:'MMM dd'}}&nbsp;{{match.startDate.toDate() | date:'HH:mm'}}  -  {{singleMatch?.competition}}</p>
                </div>

                <!-- Teams -->
                <div class="teams-desktop">
                    <!-- Alias Home Team -->
                    <p class="teams-font-desktop">{{match.homeTeamAlias}}</p>
                    <!-- Flag Home Team -->
                    <img class="team-flag-desktop" src="{{match.homeTeamFlag}}" alt="{{match.homeTeamName}}">
                    <!-- Home Team Score -->
                    <select class="formScore-desktop" (change)="homeTeam($event.target)" value="{{match.homeTeamScore}}">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                    </select>
                    <!-- Separator -->
                    <p class="separator-desktop">:</p>
                    <!-- Visit Team Score --->
                    <select class="formScore-desktop" (change)="visitTeam($event.target)" value="{{match.visitTeamScore}}">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                    </select>
                    <!-- Flag Visit Team -->
                    <img class="team-flag-desktop" src="{{match.visitTeamFlag}}" alt="{{match.visitTeamName}}">
                    <!-- Alias Visit Team -->
                    <p class="teams-font-desktop">{{match.visitTeamAlias}}</p>
                </div>
            </div>
        </ng-container>
        <!-- Gambles Done - Status 2 -->
        <ng-container *ngIf="match.status === '2'">
            <div class="match-container-desktop">
                <!-- Date and Time -->
                <div class="container-date">
                    <p>{{match.startDate.toDate() | date:'MMM dd'}}&nbsp;{{match.startDate.toDate() | date:'HH:mm'}}  -  {{singleMatch?.competition}}</p>
                </div>
                <!-- Teams -->
                <div class="teams-disable-desktop">
                    <!-- Alias Home Team -->
                    <p class="teams-font-desktop">{{match.homeTeamAlias}}</p>
                    <!-- Flag Home Team -->
                    <img class="team-flag-desktop" src="{{match.homeTeamFlag}}" alt="{{match.homeTeamName}}">
                    <!-- Home Team Score -->
                    <select class="formScore-desktop" (change)="homeTeam($event.target)" disabled>
                        <option value="{{match.homeTeamScore}}" selected>{{match.homeTeamScore}}</option>
                    </select>
                    <!-- Separator -->
                    <p class="separator-desktop">:</p>
                    <!-- Visit Team Score --->
                    <select class="formScore-desktop" (change)="visitTeam($event.target)" disabled>
                        <option value="{{match.visitTeamScore}}" selected>{{match.visitTeamScore}}</option>
                    </select>
                    <!-- Flag Visit Team -->
                    <img class="team-flag-desktop" src="{{match.visitTeamFlag}}" alt="{{match.visitTeamName}}">
                    <!-- Alias Visit Team -->
                    <p class="teams-font-desktop">{{match.visitTeamAlias}}</p>
                </div>
            </div>
        </ng-container>
    </ng-container>
    <!-------------------------------------------------->
    <!-------------------------------------------------->
    <!---------------- Gambles MEDIUM ------------------>
    <ng-container *ngIf="match.penkaFormat === 'MEDIUM'">
        <!----------------------------->
        <!-- Gambles Wait - status 1 -->
        <ng-container *ngIf="match.status === '1'">
            <div class="match-container-desktop">
                <!-- date -->
                <div class="container-date">
                    <p>{{match.startDate.toDate() | date:'MMM dd'}}&nbsp;{{match.startDate.toDate() | date:'HH:mm'}}  -  {{singleMatch?.competition}}</p>
                </div>

                <div class="medium-container-teams-desktop">
                    <div class="medium-teams-desktop">
                        <!-- Alias Home Team -->
                        <p class="teams-font">{{match.homeTeamAlias}}</p>
                        <!-- Flag Home Team -->
                        <img class="home-flag-team" src="{{match.homeTeamFlag}}" alt="{{match.homeTeamName}}">
                        <!-- Draw -->
                        <p class="medium-separator">Empate</p>
                        <!-- Flag Visit Team -->
                        <img class="visit-flag-team" src="{{match.visitTeamFlag}}" alt="{{match.visitTeamName}}">
                        <!-- Alias Visit Team -->
                        <p class="teams-font">{{match.visitTeamAlias}}</p>
                    </div>
                    <div class="teams-options-desktop">
                        <mat-radio-group [(ngModel)]="mediumGamble" (change)="getGambleMedium()">
                            <mat-radio-button value="{{match.homeTeamId}}"></mat-radio-button>
                            <mat-radio-button value="draw"></mat-radio-button>
                            <mat-radio-button value="{{match.visitTeamId}}">
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
            </div>
        </ng-container>
        <!----------------------------->
        <!-- Gambles Done - Status 2 -->
        <ng-container *ngIf="match.status === '2'">
            <div class="match-container-desktop">
                <!-- date -->
                <div class="container-date">
                    <p>{{match.startDate.toDate() | date:'MMM dd'}}&nbsp;{{match.startDate.toDate() | date:'HH:mm'}}  -  {{singleMatch?.competition}}</p>
                </div>

                <div class="medium-container-teams-disable-desktop {{save}}">
                    <div class="medium-teams-desktop">
                        <!-- Alias Home Team -->
                        <p class="teams-font">{{match.homeTeamAlias}}</p>
                        <!-- Flag Home Team -->
                        <img class="home-flag-team" src="{{match.homeTeamFlag}}" alt="{{match.homeTeamName}}">
                        <!-- Draw -->
                        <p class="medium-separator">Empate</p>
                        <!-- Flag Visit Team -->
                        <img class="visit-flag-team" src="{{match.visitTeamFlag}}" alt="{{match.visitTeamName}}">
                        <!-- Alias Visit Team -->
                        <p class="teams-font">{{match.visitTeamAlias}}</p>
                    </div>
                    <div class="teams-options">
                        <mat-radio-group [(ngModel)]="mediumGamble" (change)="getGambleMedium()">
                            <mat-radio-button value="{{match.homeTeamId}}" disabled></mat-radio-button>
                            <mat-radio-button value="draw" disabled></mat-radio-button>
                            <mat-radio-button value="{{match.visitTeamId}}" disabled>
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
            </div>
        </ng-container>
    </ng-container>
</div>
<!--------------------->
<!------ MOBILE ------->
<div class="mobile">
    <!----------------- Gambles PRO ----------------------->
    <ng-container *ngIf="match.penkaFormat === 'PRO'">
        <!-- Gambles Wait - status 1 -->
        <ng-container *ngIf="match.status === '1'">
            <div class="match-container-mobile">
                <!-- Date and Time -->
                <div class="container-date">
                    <p>{{match.startDate.toDate() | date:'MMM dd'}}&nbsp;{{match.startDate.toDate() | date:'HH:mm'}}  -  {{singleMatch?.competition}}</p>
                </div>

                <!-- Teams -->
                <div class="teams-mobile">
                    <!-- Alias Home Team -->
                    <p class="teams-font-mobile">{{match.homeTeamAlias}}</p>
                    <!-- Flag Home Team -->
                    <img class="team-flag-mobile" src="{{match.homeTeamFlag}}" alt="{{match.homeTeamName}}">
                    <!-- Home Team Score -->
                    <select class="formScore-mobile" (change)="homeTeam($event.target)" value="{{match.homeTeamScore}}">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                    </select>
                    <!-- Separator -->
                    <p class="separator-mobile">:</p>
                    <!-- Visit Team Score --->
                    <select class="formScore-mobile" (change)="visitTeam($event.target)" value="{{match.visitTeamScore}}">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                    </select>
                    <!-- Flag Visit Team -->
                    <img class="team-flag-mobile" src="{{match.visitTeamFlag}}" alt="{{match.visitTeamName}}">
                    <!-- Alias Visit Team -->
                    <p class="teams-font-mobile">{{match.visitTeamAlias}}</p>
                </div>
                <!-- Button Save -->
            </div>
        </ng-container>
        <!-- Gambles Done - Status 2 -->
        <ng-container *ngIf="match.status === '2'">
            <div class="match-container-mobile">
                <!-- Date and Time -->
                <div class="date-mobile">
                    <p>{{match.startDate.toDate() | date:'MMM dd'}}&nbsp;{{match.startDate.toDate() | date:'HH:mm'}}  -  {{singleMatch?.competition}}</p>
                </div>
                <!-- Teams -->
                <div class="teams-mobile">
                    <!-- Alias Home Team -->
                    <p class="teams-font-mobile">{{match.homeTeamAlias}}</p>
                    <!-- Flag Home Team -->
                    <img class="team-flag-mobile" src="{{match.homeTeamFlag}}" alt="{{match.homeTeamName}}">
                    <!-- Home Team Score -->
                    <select class="formScore-mobile" (change)="homeTeam($event.target)" disabled>
                        <option value="{{match.homeTeamScore}}">{{match.homeTeamScore}}</option> 
                    </select>
                    <!-- Separator -->
                    <p class="separator-mobile">:</p>
                    <!-- Visit Team Score --->
                    <select class="formScore-mobile" (change)="visitTeam($event.target)" disabled>
                        <option value="{{match.visitTeamScore}}" selected>{{match.visitTeamScore}}</option>
                    </select>
                    <!-- Flag Visit Team -->
                    <img class="team-flag-mobile" src="{{match.visitTeamFlag}}" alt="{{match.visitTeamName}}">
                    <!-- Alias Visit Team -->
                    <p class="teams-font-mobile">{{match.visitTeamAlias}}</p>
                </div>

            </div>
        </ng-container>
    </ng-container>
    <!-------------------------------------------------->
    <!-------------------------------------------------->
    <!---------------- Gambles MEDIUM ------------------>
    <ng-container *ngIf="match.penkaFormat === 'MEDIUM'">
        <!----------------------------->
        <!-- Gambles Wait - status 1 -->
        <ng-container *ngIf="match.status === '1'">
            <div class="match-container-medium-mobile">
                <!-- date -->
                <div class="container-date">
                    <p>{{match.startDate.toDate() | date:'MMM dd'}}&nbsp;{{match.startDate.toDate() | date:'HH:mm'}}  -  {{singleMatch?.competition}}</p>
                </div>
                <!-- Teams -->
                <div class="container-teams">
                    <!-- Teams -->
                    <div class="teams">
                        <!-- Alias Home Team -->
                        <p class="team-alias">{{match.homeTeamAlias}}</p>
                        <!-- Flag Home Team -->
                        <img class="team-flag" src="{{match.homeTeamFlag}}" alt="{{match.homeTeamName}}">
                        <!-- Draw -->
                        <p class="separator">Empate</p>
                        <!-- Flag Visit Team -->
                        <img class="team-flag" src="{{match.visitTeamFlag}}"
                             alt="{{match.visitTeamName}}">
                        <!-- Alias Visit Team -->
                        <p class="team-alias">{{match.visitTeamAlias}}</p>
                    </div>

                    <!-- Options -->
                    <div class="options">
                        <mat-radio-group [(ngModel)]="mediumGamble" (change)="getGambleMedium()">
                            <mat-radio-button value="{{match.homeTeamId}}"></mat-radio-button>
                            <mat-radio-button value="draw"></mat-radio-button>
                            <mat-radio-button value="{{match.visitTeamId}}">
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
            </div>
        </ng-container>
        <!----------------------------->
        <!-- Gambles Done - Status 2 -->
        <ng-container *ngIf="match.status === '2'">
            <div class="match-container-medium-mobile">
                <!-- date -->
                <div class="container-date">
                    <p>{{match.startDate.toDate() | date:'MMM dd'}}&nbsp;{{match.startDate.toDate() | date:'HH:mm'}}</p>
                </div>
                <!-- Competition -->
                <div>
                    <p>{{singleMatch.competition}}</p>
                </div>
                <!-- Teams -->
                <div class="container-teams">
                    <!-- Teams -->
                    <div class="teams">
                        <!-- Alias Home Team -->
                        <p class="team-alias">{{match.homeTeamAlias}}</p>
                        <!-- Flag Home Team -->
                        <img class="team-flag" src="{{match.homeTeamFlag}}" alt="{{match.homeTeamName}}">
                        <!-- Draw -->
                        <p class="separator">Empate</p>
                        <!-- Flag Visit Team -->
                        <img class="team-flag" src="{{match.visitTeamFlag}}"
                             alt="{{match.visitTeamName}}">
                        <!-- Alias Visit Team -->
                        <p class="team-alias">{{match.visitTeamAlias}}</p>
                    </div>

                    <!-- Options -->
                    <div class="options">
                        <mat-radio-group [(ngModel)]="mediumGamble" (change)="getGambleMedium()" disabled>
                            <mat-radio-button value="{{match.homeTeamId}}"></mat-radio-button>
                            <mat-radio-button value="draw"></mat-radio-button>
                            <mat-radio-button value="{{match.visitTeamId}}"></mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
            </div>
        </ng-container>
    </ng-container>
</div>
