<ng-container *ngIf="format === 'PRO'">
    <div class="match-container">
        <!-- date -->
        <div class="date">
            <p>{{match.startDate}}&nbsp;{{match.startTime}}</p>
        </div>

        <div class="teams {{save}}">
            <!-- Alias Home Team -->
            <p class="teams-font">{{match.homeTeamAlias}}</p>

            <!-- Flag Home Team -->
            <img class="home-flag-team" src="{{match.homeTeamFlag}}" alt="{{match.homeTeamName}}">

            <!-- Home Team Score -->
            <select class="formScore" (change)="homeTeam($event.target, match)">

                <ng-container *ngIf="gambles$ | async as gambles">
                    <ng-container
                        *ngFor="let g of gambles | filterCodePenka:codePenka | filterUserId:user.uid | filterSingleMatchId:match.singleMatchId">
                        <option value="{{g.homeTeamScore}}" selected>{{g.homeTeamScore}}</option>
                    </ng-container>
                </ng-container>

                <option value=""></option>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
            </select>

            <!-- Separator -->
            <p class="separator">:</p>

            <!-- Visit Team Score --->
            <select class="formScore" (change)="visitTeam($event.target, match)">

                <ng-container *ngIf="gambles$ | async as gambles">
                    <ng-container
                        *ngFor="let g of gambles | filterCodePenka:codePenka | filterUserId:user.uid | filterSingleMatchId:match.singleMatchId">
                        <option value="{{g.visitTeamScore}}" selected>{{g.visitTeamScore}}</option>
                    </ng-container>
                </ng-container>

                <option value=""></option>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
            </select>

            <!-- Flag Visit Team -->
            <img class="visit-flag-team" src="{{match.visitTeamFlag}}" alt="{{match.visitTeamName}}">

            <!-- Alias Visit Team -->
            <p class="teams-font">{{match.visitTeamAlias}}</p>

            <!-- Button Save -->
            <button mat-button (click)="saveGamblePro(match)" class="btn-save">
                Guardar
            </button>

        </div>
    </div>
</ng-container>

<ng-container *ngIf="format === 'MEDIUM'">
    <div class="match-container">
        <!-- date -->
        <div class="date">
            <p>{{match.startDate}}&nbsp;{{match.startTime}}</p>
        </div>

        <div class="medium-container-teams {{save}}">
            <div class="medium-teams">
                <!-- Alias Home Team -->
                <p class="teams-font">{{match.homeTeamAlias}}</p>
                <!-- Flag Home Team -->
                <img class="home-flag-team" src="{{match.homeTeamFlag}}" alt="{{match.homeTeamName}}">
                <!-- Draw -->
                <p class="medium-separator">Empate</p>
                <!-- Flag Visit Team -->
                <img class="visit-flag-team" src="{{match.visitTeamFlag}}" alt="{{match.visitTeamName}}">
                <!-- Alias Visit Team -->
                <p class="teams-font">{{match.visitTeamAlias}}</p>
                <!-- Button Save -->
                <button mat-button (click)="saveGambleMedium(match)" class="btn-save">
                    Guardar
                </button>
            </div>
            <div class="teams-options">

                <ng-container *ngIf="gamble.length > 0; else noGamblesYet">

                    <ng-container *ngFor="let g of gamble">

                        <!-- Match Draw -->
                        <ng-container *ngIf="g.draw === true">
                            <mat-radio-group [(ngModel)]="mediumGamble" (change)="getGambleMedium()">
                                <mat-radio-button value="{{match.homeTeamId}}"></mat-radio-button>
                                <mat-radio-button value="draw">
                                    <img src="../../../../assets/images/match/matchWinner.png" alt="" width="20"
                                         height="20">
                                </mat-radio-button>
                                <mat-radio-button value="{{match.visitTeamId}}"></mat-radio-button>
                            </mat-radio-group>
                        </ng-container>

                        <!-- Match Win Home -->
                        <ng-container *ngIf="g.homeTeamId === g.winnerTeamId">
                            <mat-radio-group [(ngModel)]="mediumGamble" (change)="getGambleMedium()">
                                <mat-radio-button value="{{match.homeTeamId}}">
                                    <img src="../../../../assets/images/match/matchWinner.png" alt="" width="20"
                                         height="20">
                                </mat-radio-button>
                                <mat-radio-button value="draw">
                                </mat-radio-button>
                                <mat-radio-button value="{{match.visitTeamId}}"></mat-radio-button>
                            </mat-radio-group>
                        </ng-container>

                        <!-- Match Win Visit -->
                        <ng-container *ngIf="g.visitTeamId === g.winnerTeamId">
                            <mat-radio-group [(ngModel)]="mediumGamble" (change)="getGambleMedium()">
                                <mat-radio-button value="{{match.homeTeamId}}"></mat-radio-button>
                                <mat-radio-button value="draw"></mat-radio-button>
                                <mat-radio-button value="{{match.visitTeamId}}">
                                    <img src="../../../../assets/images/match/matchWinner.png" alt="" width="20"
                                         height="20">
                                </mat-radio-button>
                            </mat-radio-group>
                        </ng-container>
                    </ng-container>

                </ng-container>
                <ng-template #noGamblesYet>
                    <mat-radio-group [(ngModel)]="mediumGamble" (change)="getGambleMedium()">
                        <mat-radio-button value="{{match.homeTeamId}}"></mat-radio-button>
                        <mat-radio-button value="draw"></mat-radio-button>
                        <mat-radio-button value="{{match.visitTeamId}}"></mat-radio-button>
                    </mat-radio-group>
                </ng-template>
            </div>
        </div>
    </div>
</ng-container>
