<ng-container *ngIf="auth.user$ | async; else guess">
    <div class="container">
        <br>
        <!-- home/penka-viewer -->
        <app-penka-viewer></app-penka-viewer>
        <br>
        <br>
        <!-- home/pop-penkas-container -->
        <!-- <app-pop-penkas-container></app-pop-penkas-container> -->
        <br>
        <!-- home/templates-container -->
        <app-templates-container></app-templates-container>
        <br>
        <!-- home/single-matches-container -->
        <app-single-matches-container></app-single-matches-container>
        <br>
    </div>
</ng-container>

<ng-template #guess>
    <!-- home/main-banner -->
    <app-main-banner></app-main-banner>
    <br>
    <!-- home/secondary-banners -->
    <app-secondary-banners></app-secondary-banners>
    <br>
    <br>
    <div class="container">
        <!-- home/templates-container -->
        <app-templates-container></app-templates-container>
        <br>
        <!-- home/single-matches-container -->
        <app-single-matches-container></app-single-matches-container>
        <br>
    </div>
</ng-template>
