<app-page-header-steps [title]="title" [stepNumber]="stepNumber" [stepTotal]="stepTotal"></app-page-header-steps>
<br>
<ng-container *ngFor="let p of penka">

    <!-- DESKTOP -->
    <div class="desktop">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="box">
                        <p class="section-title">Invita a tus amigos a participar:</p>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="box">
                        <button mat-button class="btn-start" (click)="goDashboard(p.codePenka)">
                            Comenzar
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-5">
                    <div class="box">
                        <span class="section-subTitle">
                            Código de penka:
                        </span>
                        &nbsp;<span (click)="showCopyNotification()" [cdkCopyToClipboard]="p.codePenka"
                            class="codePenka">{{p.codePenka}}</span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="box">
                        <div class="container-social">
                            <img class="social-img" (click)="shareByWhatsappWeb(p.codePenka)"
                                src="../../../../assets/images/social/whatsapp.png" alt="whatsapp">
                            <!-- <a target="_blank" href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=tuamigo@gmail.com&subject=Únete a mi Penka&body=Hola! Juega conmigo una Penka. Solo ingresa a https://penkapro.com/penka/join/{{p.codePenka}} y únete!">
                                <img class="social-img" src="../../../../assets/images/social/gmail.png" alt="gmail">
                            </a> -->
                            <!-- <img class="social-img" (click)="shareByMessenger(p.codePenka)"
                                 src="../../../../assets/images/social/messenger.png" alt="messenger"> -->
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-lg-6">
                    <div class="box">

                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="box">
                                            <p class="title-header">Información</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="box">
                                            <p class="label">Organizador</p>
                                            <p class="data">{{p.makerName}}</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="box">
                                            <p class="label">Participantes</p>
                                            <p class="data">
                                                <span class="current">{{p.nParticipants}}</span>
                                                / {{p.limitParticipants}}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="box">
                                            <p class="label">Formato</p>
                                            <p class="data">{{p.formatName}}</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="box">
                                            <p class="label">Costo de Inscripción</p>
                                            <p class="data">

                                                <ng-container *ngIf="p.coin === 'SOLES'">
                                                    S/.&nbsp;{{p.bet}}
                                                </ng-container>

                                                <ng-container *ngIf="p.coin === 'USD'">
                                                    {{p.bet}}&nbsp;$
                                                </ng-container>

                                                <ng-container *ngIf="p.coin === 'PESOS'">
                                                    $&nbsp;{{p.bet}}
                                                </ng-container>

                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="box">
                                            <p class="label">Fecha de creación</p>
                                            <p class="data">{{p.date.toDate() | date:'MMM dd'}}</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="box">
                                            <p class="label">Premio</p>
                                            <p class="data">

                                                <ng-container *ngIf="p.coin === 'SOLES'">
                                                    S/.&nbsp;&nbsp;<span class="current">{{p.accumulatedBet}}</span>
                                                    / {{ p.bet * p.limitParticipants}}
                                                </ng-container>

                                                <ng-container *ngIf="p.coin === 'USD'">
                                                    <span class="current">{{p.accumulatedBet}}</span>
                                                    / {{ p.bet * p.limitParticipants}}&nbsp;$
                                                </ng-container>

                                                <ng-container *ngIf="p.coin === 'PESOS'">
                                                    $&nbsp;&nbsp;<span class="current">{{p.accumulatedBet}}</span>
                                                    / {{ p.bet * p.limitParticipants}}
                                                </ng-container>

                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-lg-6">

                                    </div>
                                    <div class="col-lg-6">
                                        <div class="box">
                                            <p class="label">Distribución</p>
                                            <p class="data">{{p.distributionBet}}</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>


                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="box">
                        <div class="card">

                            <div class="card-header">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="box">
                                            <p class="title-header">Partidos a Jugar</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card-body">

                                <!-- List matches from template -->
                                <ng-container *ngIf="p.typePenka === 'template'">
                                    <ul class="list-vertical">
                                        <li class="item-vertical"
                                            *ngFor="let lm of listMatches | filterCodeTemplate:p.codeTemplate">
                                            <app-penka-match [match]="lm"></app-penka-match>
                                        </li>
                                    </ul>
                                </ng-container>

                                <!-- List matches from code penka -->
                                <ng-container *ngIf="p.typePenka === 'singleMatches'">
                                    <ul class="list-vertical">
                                        <li class="item-vertical"
                                            *ngFor="let lm of listMatches | filterCodePenka:p.codePenka">
                                            <app-penka-match [match]="lm"></app-penka-match>
                                        </li>
                                    </ul>
                                </ng-container>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- MOBILE -->
    <div class="mobile">
        <div class="row">
            <div class="col-xs-8"></div>
            <div class="col-xs-4">
                <div class="box">
                    <button mat-button class="btn-start" (click)="goDashboard(p.codePenka)">
                        Comenzar
                    </button>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <p class="section-title">Invita a tus amigos a participar:</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <span (click)="showCopyNotification()" [cdkCopyToClipboard]="p.codePenka"
                        class="codePenka">{{p.codePenka}}
                        <img class="social-img" (click)="shareByWhatsappMobile(p.codePenka)"
                            src="../../../../assets/images/social/whatsapp.png" alt="whatsapp">
                        <!-- <a target="_blank" href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=tuamigo@gmail.com&subject=Únete a mi Penka&body=Hola! Juega conmigo una Penka. Solo ingresa a https://penkapro.com/penka/join/{{p.codePenka}} y únete!">
                                     <img class="social-img" src="../../../../assets/images/social/gmail.png" alt="gmail">
                                 </a> -->
                        <!-- <img class="social-img" (click)="shareByMessenger(p.codePenka)"
                                      src="../../../../assets/images/social/messenger.png" alt="messenger"> -->
                    </span>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <!------------------------------>
                    <!------ Next Matches ---------->
                    <mat-accordion>
                        <mat-expansion-panel [expanded]="false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Partidos a Jugar
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="box">
                                        <!-- List matches from template -->
                                        <ng-container *ngIf="p.typePenka === 'template'">
                                            <ul class="list-vertical">
                                                <li class="item-vertical"
                                                    *ngFor="let lm of listMatches | filterCodeTemplate:p.codeTemplate">
                                                    <app-penka-match [match]="lm"></app-penka-match>
                                                </li>
                                            </ul>
                                        </ng-container>

                                        <!-- List matches from code penka -->
                                        <ng-container *ngIf="p.typePenka === 'singleMatches'">
                                            <ul class="list-vertical">
                                                <li class="item-vertical"
                                                    *ngFor="let lm of listMatches | filterCodePenka:p.codePenka">
                                                    <app-penka-match [match]="lm"></app-penka-match>
                                                </li>
                                            </ul>
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <!----------------------------->
                    <!------ Information ---------->
                    <mat-accordion>
                        <mat-expansion-panel [expanded]="false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Informacion
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="box">
                                        <div>
                                            <p class="label-mobile">Organizador</p>
                                            <p class="item-mobile">{{p?.makerName}}</p>
                                        </div>
                                        <div>
                                            <p class="label-mobile">Fecha de creacion</p>
                                            <p class="item-mobile">{{p?.date.toDate() | date:'HH:mm'}}</p>
                                        </div>
                                        <div>
                                            <p class="label-mobile">Formato</p>
                                            <p class="item-mobile">{{p?.formatName}}</p>
                                        </div>
                                        <div>
                                            <p class="label-mobile">Participantes</p>
                                            <p class="item-mobile">{{p?.nParticipants}}
                                                / {{p?.limitParticipants}}</p>
                                        </div>
                                        <div>
                                            <p class="label-mobile">Estado</p>
                                            <p class="item-mobile">
                                                <ng-container *ngIf="p?.status === '1'">
                                                    En Juego
                                                </ng-container>
                                                <ng-container *ngIf="p?.status === '2'">
                                                    Terminada
                                                </ng-container>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="box">
                                        <div>
                                            <p class="label-mobile">Apuesta</p>
                                            <p class="item-mobile">${{p?.bet}}</p>
                                        </div>
                                        <div>
                                            <p class="label-mobile">Pozo</p>
                                            <p class="item-mobile">${{p?.accumulatedBet}}
                                                / {{ p?.bet * p?.limitParticipants}}</p>
                                        </div>
                                        <div>
                                            <p class="label-mobile">Distribucion</p>
                                            <p class="item-mobile">{{p?.distributionBet}}</p>
                                        </div>
                                        <div>
                                            <p class="label-mobile">Codigo de penka</p>
                                            <p class="item-mobile">{{p?.codePenka}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </div>
        </div>
        <br>
    </div>
</ng-container>
<br>
<br>
<br>