/* MOBILE */
@media only screen and (min-width: 350px) and (orientation: portrait) {
  .codePenka {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #FDA328;
    cursor: pointer;
  }

  .btn-start {
    background-color: #FDA328;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    font-size: 12px;
    float: right;
    padding: 0 20px 0 20px;
    margin: 0 0 0 10px;
  }

  .section-subTitle {
    font-size: 12px;
    line-height: 12px;
  }

  .section-title {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
  }

  .mat-expansion-panel-header-title {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
  }
  .mat-expanded {
    background-color: #2E3035;
  }
  .label-mobile {
    font-size: 14px;
    line-height: 16px;
    opacity: 0.5;
  }
  .item-mobile {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
  }
  .container-button-mobile {
    text-align: center;
  }
  /* Buttons */
  .btn-grid-mobile {
    border-radius: 25px;
    background-color: #FDA328;
  }
  .btn-gamble {
    background-color: #FDA328;
    border-radius: 25px;
    padding: 0 20px 0 20px;
  }
  .btn-join {
    background-color: #FDA328;
    color: white;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    font-size: 14px;
    line-height: 30px;
    padding: 0 30px 0 30px;
  }
  .list-vertical{
    padding: 0;
  }
  .item-vertical{
    text-align: center;
    margin: 0 0 20px 0;
  }
  .social-img {
    width: 25px;
    height: 25px;
    margin-left: 10px;
  }
}

/* DESKTOP 720P */
@media only screen and (min-width: 1280px) and (orientation: landscape) {
  .codePenka {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #FDA328;
    cursor: pointer;
  }
  .social-img {
    width: 25px;
    height: 25px;
    margin-right: 20px;
  }
  .social-img:hover{
    cursor: pointer;
  }
  .current {
    color: #FDA328;
  }
  .card-body{
    height: 350px;
  }
  .list-vertical {
    padding: 0;
    height: 320px;
  }
  .item-vertical {
    text-align: center;
    margin: 0 0 30px 0;
  }
  .btn-start {
    background-color: #FDA328;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    font-size: 12px;
    float: right;
    padding: 0 20px 0 20px;
    margin: 0 0 0 10px;
  }
  ::ng-deep .alert-success {
    background-color: #27ae60;
    color: white;
    font-style: normal;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }
}

/* DESKTOP 1080P */
@media only screen and (min-width: 1900px) and (orientation: landscape) {
  .codePenka {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #FDA328;
    cursor: pointer;
  }
  .card-body{
    height: 350px;
  }
  .social-img {
    width: 25px;
    height: 25px;
    margin-right: 20px;
  }
  .social-img:hover{
    cursor: pointer;
  }
  .current {
    color: #FDA328;
  }
  .list-vertical {
    padding: 0;
    height: 320px;
  }
  .item-vertical {
    text-align: center;
    margin: 0 0 30px 0;
  }
  .btn-start {
    background-color: #FDA328;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    font-size: 14px;
    float: right;
    padding: 0 20px 0 20px;
    margin: 0 0 0 10px;
  }
  ::ng-deep .alert-success {
    background-color: #27ae60;
    color: white;
    font-style: normal;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }
}
