<app-page-header-steps [title]="title" [stepNumber]="stepNumber" [stepTotal]="stepTotal"></app-page-header-steps>
<br>
<ng-container *ngFor="let p of penka">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-lg-12">
                <div class="box">
                    <span class="section-title">Invita a tus amigos a participar</span>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-12 col-lg-12">
                <div class="box">
                    <p class="section-subTitle">Codigo de penka: &nbsp; <span class="codePenka">{{p.codePenka}}</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <button
                        type="button"
                        mat-button
                        class="btn-whatsapp"
                        (click)="sendInvitation(p.codePenka)"
                    >
                        <img src="../../../assets/images/icons/whatsapp.svg" alt="" width="25" height="25">
                        &nbsp;
                        Invitar
                    </button>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-12 col-lg-5 col-lg-offset-1">
                <div class="box">
                    <mat-card class="card-information">
                        <mat-card-header class="card-information-header">
                            <p class="card-title">Informacion</p>
                        </mat-card-header>
                        <mat-card-content class="card-information-content">
                            <div class="row">
                                <div class="col-xs-5">
                                    <div class="box">
                                        <div class="item">
                                            <p class="label-information">Organizador</p>
                                            <p class="data-information">{{p.makerName}}</p>
                                        </div>
                                        <div class="item">
                                            <p class="label-information">Fecha de creacion</p>
                                            <p class="data-information">{{p.date.toDate() | date:'MMM dd'}}</p>
                                        </div>
                                        <div class="item">
                                            <p class="label-information">Formato</p>
                                            <p class="data-information">{{p.formatName}}</p>
                                        </div>
                                        <div class="item">
                                            <p class="label-information">Participantes</p>
                                            <p class="data-information">{{p.nParticipants}}
                                                / {{p.limitParticipants}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="box">
                                        <div class="item">
                                            <p class="label-information">Apuesta</p>
                                            <p class="data-information">${{p.bet}}</p>
                                        </div>
                                        <div class="item">
                                            <p class="label-information">Pozo</p>
                                            <p class="data-information">${{p.accumulatedBet}}
                                                / {{ p.bet * p.limitParticipants}}</p>
                                        </div>
                                        <div class="item">
                                            <p class="label-information">Distribucion</p>
                                            <p class="data-information">{{p.distributionBet}}</p>
                                        </div>
                                        <div class="item">
                                            <p class="label-information">Codigo de penka</p>
                                            <p class="data-information">{{p.codePenka}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
            <div class="col-xs-12 col-lg-5">
                <div class="box">
                    <mat-card class="card-matches">
                        <mat-card-header class="card-matches-header">
                            <p class="card-title">Partidos a Jugar</p>
                        </mat-card-header>
                        <mat-card-content class="card-matches-content">

                            <!-- List matches from template -->
                            <ng-container *ngIf="p.typePenka === 'template'">
                                <ul class="list-matches">
                                    <li class="item-matches"
                                        *ngFor="let lm of listMatches | filterCodeTemplate:p.codeTemplate">
                                        <app-penka-match [match]="lm"></app-penka-match>
                                    </li>
                                </ul>
                            </ng-container>

                            <!-- List matches from code penka -->
                            <ng-container *ngIf="p.typePenka === 'singleMatches'">
                                <ul class="list-matches">
                                    <li class="item-matches" *ngFor="let lm of listMatches | filterCodePenka:p.codePenka">
                                        <app-penka-match [match]="lm"></app-penka-match>
                                    </li>
                                </ul>
                            </ng-container>
                        </mat-card-content>
                        <mat-card-actions class="card-matches-footer">
                            <button mat-button (click)="goWatch(p.id)" class="btn-play">
                                Comenzar
                            </button>
                        </mat-card-actions>
                    </mat-card>

                </div>
            </div>
        </div>
    </div>
</ng-container>
<br>
<br>
<br>
