#btn-agree {
  background-color: #FDA328;
  border-radius: 20px;
  padding: 0 20px 0 20px;
  margin-right: 20px;
}

#btn-reject {
  background-color: #2E3035;
  border-radius: 20px;
  padding: 0 20px 0 20px;
}