/* MOBILE */
@media only screen and (min-width: 350px) and (orientation: portrait) {
  .mobile {
    display: inline;
  }
  .desktop {
    display: none;
  }
  /* Form */
  .label-form {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    color: white;
  }
  .label-form-help {
    font-size: 12px;
    line-height: 14px;
    opacity: 0.5;
  }
  .form-container {
    background-color: #2E3035;
    border-radius: 25px;
    padding: 20px 10px 10px 10px;
  }
  .mat-form-field {
    width: 100%;
    font-size: 12px;
    line-height: 14px;
  }
  .mat-button-toggle-group {
    width: 100%;
    font-size: 12px;
    line-height: 14px;
  }

  .mat-button-toggle {
    width: 50%;
  }

  .mat-button-toggle-checked {
    background-color: #FDA328;
  }
  .btn-submit {
    background-color: #FDA328;
    border-radius: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    line-height: 30px;
    padding: 5px 25px 5px 25px;
  }
  /* Card */
  .card {
    margin-top: 20px;
    border-radius: 25px;
    background-color: #2E3035;
  }

  .card-header {
    padding: 20px 20px 5px 25px;
    background-color: #792fe8;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
  }

  .title {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    line-height: 24px;
  }
  .card-body {
    background-color: #2E3035;
    padding: 10px;
  }

  .card-footer {
    background-color: transparent;
    padding: 30px;
    text-align: right;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
  }
  /* List - matches */
  .list-matches {
    padding: 0;
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .list-matches::-webkit-scrollbar {
    width: 10px;
  }
  .list-matches::-webkit-scrollbar-thumb {
    background-color: #2E3035;
    border-radius: 10px;
  }
  .list-matches::-webkit-scrollbar-thumb:active {
    background-color: #737171;
  }
  .list-matches::-webkit-scrollbar-thumb:hover {
    background-color: #792fe8;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  }
  .item-matches {
    width: 80%;
    margin: 20px 10% 20px 10%;
    padding: 0;
    text-align: center;
  }

}

/* DESKTOP 720P  */
@media only screen and (min-width: 1280px) and (orientation: landscape) {
  .mat-form-field {
    width: 100%;
    font-size: 12px;
    margin: 0;
  }
  .mat-button-toggle-group {
    width: 100%;
    font-size: 12px;
  }

  .mat-button-toggle {
    width: 100%;
  }
  .mat-button-toggle-checked {
    background-color: #FDA328;
  }

  .list-vertical {
    padding: 0;
    height: 640px;
  }
  .item-vertical {
    text-align: center;
    margin: 0 0 30px 0;
  }
  .btn-submit {
    background-color: #FDA328;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    font-size: 14px;
    float: right;
    padding: 0 20px 0 20px;
    margin: 0 0 0 10px;
  }
}

/* DESKTOP 1080P  */
@media only screen and (min-width: 1900px) and (orientation: landscape) {
  .mat-form-field {
    width: 100%;
    font-size: 14px;
    margin: 0;
  }
  .mat-button-toggle-group {
    width: 100%;
    font-size: 14px;
  }

  .mat-button-toggle {
    width: 100%;
  }
  .mat-button-toggle-checked {
    background-color: #FDA328;
  }

  .list-vertical {
    padding: 0;
    height: 700px;
  }
  .item-vertical {
    text-align: center;
    margin: 0 0 30px 0;
  }
  .btn-submit {
    background-color: #FDA328;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    font-size: 14px;
    float: right;
    padding: 0 20px 0 20px;
    margin: 0 0 0 10px;
  }
}
