<app-page-header-steps [title]="title" [stepNumber]="stepNumber" [stepTotal]="stepTotal"></app-page-header-steps>

<!-- DESKTOP -->
<div class="desktop">
    <br>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-lg-offset-9">
                <div class="box">
                    <ng-container *ngIf="codePenka">
                        <button (click)="addPenkaFromSingleMatches()" class="btn-submit" mat-button>
                            Crear Penka
                        </button>
                    </ng-container>

                    <ng-container *ngIf="codeTemplate">
                        <button (click)="addPenkaFromTemplate()" class="btn-submit" mat-button>
                            Crear Penka
                        </button>
                    </ng-container>

                    <app-button-back></app-button-back>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-1">
                <div class="box">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="box">
                                        <p class="title-header">Datos de la Penka</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card-body">
                            <!-- NAME PENKA -->
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="box">
                                        <p class="label">Nombre de Penka</p>
                                        <mat-form-field appearance="fill">
                                            <label>
                                                <input [(ngModel)]="newPenka.name" matInput
                                                    placeholder="Escribe el nombre de tu Penka." maxlength="25"
                                                    autocomplete="off">
                                            </label>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>

                            <!-- FORMAT -->
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="box">
                                        <p class="label">Formato </p>
                                        <mat-button-toggle-group [(ngModel)]="newPenka.formatName"
                                            aria-label="Font Style" name="fontStyle">
                                            <mat-button-toggle value="PRO">PRO</mat-button-toggle>
                                            <mat-button-toggle value="MEDIUM">MEDIUM</mat-button-toggle>
                                        </mat-button-toggle-group>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="box">
                                        <p class="text-help">Resultado Exacto.</p>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="box">
                                        <p class="text-help">Ganador o Empate.</p>
                                    </div>
                                </div>
                            </div>

                            <!-- MODE -->
                            <!-- <div class="row">
                                <div class="col-lg-12">
                                    <div class="box">
                                        <p class="label">Modalidad</p>
                                        <mat-button-toggle-group [(ngModel)]="newPenka.visibility"
                                                                 aria-label="Font Style"
                                                                 name="fontStyle">
                                            <mat-button-toggle value="abierta">ABIERTA</mat-button-toggle>
                                            <mat-button-toggle value="privada">PRIVADA</mat-button-toggle>
                                        </mat-button-toggle-group>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="box">
                                        <p class="text-help">Para amigos.</p>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="box">
                                        <p class="text-help">Solo con código.</p>
                                    </div>
                                </div>
                            </div> -->

                            <!-- BET -->
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="box">
                                        <p class="label">Monto de inscripción</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="box">
                                        <mat-form-field appearance="fill">
                                            <mat-select [(ngModel)]="newPenka.coin">
                                                <mat-option value="USD">USD</mat-option>
                                                <mat-option value="SOLES">SOLES</mat-option>
                                                <mat-option value="PESOS">PESOS</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="box">
                                        <mat-form-field appearance="fill">
                                            <mat-select [(ngModel)]="newPenka.bet">
                                                <mat-option value="5">5</mat-option>
                                                <mat-option value="10">10</mat-option>
                                                <mat-option value="20">20</mat-option>
                                                <mat-option value="50">50</mat-option>
                                                <mat-option value="100">100</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>

                            <!-- ACCUMULATED BET -->
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="box">
                                        <p class="label">Distribución del Premio</p>
                                        <p class="text-help">1er Puesto - 2do Puesto - 3er Puesto.</p>
                                        <mat-form-field appearance="fill">
                                            <mat-select [(ngModel)]="newPenka.distributionBet">
                                                <mat-option value="100% - 0% - 0%">100% - 0% - 0%</mat-option>
                                                <mat-option value="80% - 20% - 0%">80% - 20% - 0%</mat-option>
                                                <mat-option value="70% - 20% - 10%">70% - 20% - 10%</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>

                            <!-- LIMIT PARTICIPANTS -->
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="box">
                                        <p class="label">Número máximo de participantes</p>
                                        <mat-form-field appearance="fill">
                                            <label>
                                                <input type="number" [(ngModel)]="newPenka.limitParticipants" matInput
                                                    placeholder="Escribe aquí el número de participantes." min="2"
                                                    autocomplete="off">
                                            </label>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>

                            <!-- DATE LIMIT -->
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="box">
                                        <p class="label">Fecha límite de inscripción</p>
                                        <mat-form-field appearance="fill">
                                            <mat-label>Elije una fecha:</mat-label>
                                            <mat-label>Elije una fecha:</mat-label>
                                            <input matInput [(ngModel)]="newPenka.dateLimit" [matDatepicker]="picker"
                                                [min]="minDate" autocomplete="off">
                                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                            <mat-datepicker #picker></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="box">

                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="box">
                                        <p class="title-header">Partidos a Jugar</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <ul class="list-vertical">

                                <!-- From Template -->
                                <ng-container *ngIf="codeTemplate">
                                    <li class="item-vertical" *ngFor="let match of listMatchesForTemplate">
                                        <app-penka-match [match]="match"></app-penka-match>
                                    </li>
                                </ng-container>

                                <!-- From Single Matches -->
                                <ng-container *ngIf="codePenka">
                                    <li class="item-vertical" *ngFor="let match of listMatchesForSingleMatches">
                                        <app-penka-match [match]="match"></app-penka-match>
                                    </li>
                                </ng-container>

                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- MOBILE -->
<div class="mobile">
    <br>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <app-button-back></app-button-back>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="form-container">
                        <!-- NAME -->
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="box">
                                    <p class="label-form">Nombre de Penka</p>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="box">
                                    <mat-form-field appearance="fill">
                                        <input [(ngModel)]="newPenka.name" matInput
                                            placeholder="Escribe el nombre de tu Penka." maxlength="25"
                                            autocomplete="off">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>

                        <!-- FORMAT -->
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="box">
                                    <p class="label-form">Formato </p>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="box">
                                    <mat-button-toggle-group [(ngModel)]="newPenka.formatName" aria-label="Font Style"
                                        name="fontStyle">
                                        <mat-button-toggle value="PRO">PRO</mat-button-toggle>
                                        <mat-button-toggle value="MEDIUM">MEDIUM</mat-button-toggle>
                                    </mat-button-toggle-group>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="box">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <p class="label-form-help">
                                                Resultado Exacto.
                                            </p>
                                        </div>
                                        <div class="col-lg-6">
                                            <p class="label-form-help">
                                                Ganador o Empate.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- MODALITY -->
                        <!-- <div class="row">
                            <div class="col-xs-12">
                                <div class="box">
                                    <p class="label-form">Modalidad</p>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="box">
                                    <mat-button-toggle-group [(ngModel)]="newPenka.visibility" aria-label="Font Style"
                                                             name="fontStyle">
                                        <mat-button-toggle value="abierta">ABIERTA</mat-button-toggle>
                                        <mat-button-toggle value="privada">PRIVADA</mat-button-toggle>
                                    </mat-button-toggle-group>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="box">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <p class="label-form-help">
                                                Para amigos.
                                            </p>
                                        </div>
                                        <div class="col-lg-6">
                                            <p class="label-form-help">
                                                Solo con código.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <br>

                        <!-- BET -->
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="box">
                                    <p class="label-form">Monto de inscripción.</p>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="box">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <mat-form-field appearance="fill">
                                                <mat-select>
                                                    <mat-option value="USD">USD</mat-option>
                                                    <mat-option value="SOLES">SOLES</mat-option>
                                                    <mat-option value="PESOS">PESOS</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-xs-8">
                                            <mat-form-field appearance="fill">
                                                <mat-select [(ngModel)]="newPenka.bet">
                                                    <mat-option value="5">5</mat-option>
                                                    <mat-option value="10">10</mat-option>
                                                    <mat-option value="20">20</mat-option>
                                                    <mat-option value="50">50</mat-option>
                                                    <mat-option value="100">100</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- DISTRIBUTION -->
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="box">
                                    <p class="label-form">Distribución del Pozo.</p>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="box">
                                    <mat-form-field appearance="fill">
                                        <mat-select [(ngModel)]="newPenka.distributionBet">
                                            <mat-option value="100% - 0% - 0%">100% - 0% - 0%</mat-option>
                                            <mat-option value="80% - 20% - 0%">80% - 20% - 0%</mat-option>
                                            <mat-option value="70% - 20% - 10%">70% - 20% - 10%</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="box">
                                    <p class="label-form-help">1er Puesto - 2do Puesto - 3er Puesto.</p>
                                </div>
                            </div>
                        </div>

                        <!-- PARTICIPANTS -->
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="box">
                                    <p class="label-form">Número máximo de participantes.</p>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="box">
                                    <mat-form-field appearance="fill">
                                        <input type="number" [(ngModel)]="newPenka.limitParticipants" autocomplete="off"
                                            matInput>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>

                        <!-- DATE LIMIT -->
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="box">
                                    <p class="label-form">Fecha límite de inscripción.</p>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="box">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Elije una fecha</mat-label>
                                        <input [(ngModel)]="newPenka.dateLimit" [matDatepicker]="picker"
                                            autocomplete="off" matInput>
                                        <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12">
                <div class="box">
                    <!-- List matches from template -->
                    <ng-container *ngIf="codeTemplate">
                        <div class="card">
                            <!-- Header -->
                            <div class="card-header">
                                <p class="title">Partidos a Jugar</p>
                            </div>

                            <!-- Body -->
                            <div class="card-body">
                                <ul class="list-matches">
                                    <li class="item-matches" *ngFor="let match of listMatchesForTemplate">
                                        <app-penka-match [match]="match"></app-penka-match>
                                    </li>
                                </ul>
                            </div>

                            <!-- Footer -->
                            <div class="card-footer">
                                <button (click)="addPenkaFromTemplate()" class="btn-submit" mat-button>
                                    Continuar
                                </button>
                            </div>
                        </div>
                    </ng-container>

                    <!-- List matches from single matches -->
                    <ng-container *ngIf="codePenka">
                        <div class="card">
                            <div class="card-header">
                                <p class="title">Partidos a Jugar</p>
                            </div>
                            <div class="card-body">
                                <ul class="list-matches">
                                    <li class="item-matches" *ngFor="let match of listMatchesForSingleMatches">
                                        <app-penka-match [match]="match"></app-penka-match>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-footer">
                                <button (click)="addPenkaFromSingleMatches()" class="btn-submit" mat-button>
                                    Continuar
                                </button>
                            </div>
                        </div>
                    </ng-container>

                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>