<app-page-header [title]="title"></app-page-header>
<br>

<div class="container">

    <div class="row">
        <div class="col-xs-12 col-lg-12">
            <div class="box">
                <ul class="list-countries">
                    <li class="item-countries">
                        <img class="country-flag" src="../../../../assets/images/rules/argentina.png" alt="">
                        <p class="country-penka">Prode</p>
                    </li>
                    <li class="item-countries">
                        <img class="country-flag" src="../../../../assets/images/rules/peru.png" alt="">
                        <img class="country-flag" src="../../../../assets/images/rules/chile.png" alt="">
                        <img class="country-flag" src="../../../../assets/images/rules/colombia.png" alt="">
                        <p class="country-penka">Polla</p>
                    </li>
                    <li class="item-countries">
                        <img class="country-flag" src="../../../../assets/images/rules/uruguay.png" alt="">
                        <p class="country-penka">Penka</p>
                    </li>
                    <li class="item-countries">
                        <img class="country-flag" src="../../../../assets/images/rules/italy.png" alt="">
                        <p class="country-penka">Quinela</p>
                    </li>
                    <li class="item-countries">
                        <img class="country-flag" src="../../../../assets/images/rules/spain.png" alt="">
                        <p class="country-penka">Porra</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <br>
    <div class="row">
        <div class="col-xs-12 col-lg-8">
            <div class="box">
                <p class="section-title">Reglamento</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-lg-8">
            <div class="box">
                <p class="content-text"><span class="nOrder">1. </span> Los puntajes y la complejidad de la Penka
                    dependen del formato
                    que
                    elija el organizador</p>
                <p class="content-text"><span class="nOrder">2. </span> El ganador de la penka será quien acumule la
                    mayor cantidad de
                    puntos
                </p>
                <p class="content-text"><span class="nOrder">3. </span> Todos los marcadores y/o resultados son a 90
                    minutos sin contar
                    tiempo extra o penales.</p>
                <p class="content-text"><span class="nOrder">4. </span> Una hora antes de iniciar el primer Partido de
                    la penka, no hay
                    opcion a retirarse de la misma.</p>
                <p class="content-text"><span class="nOrder">5. </span> Los resultados de los partidos pueden ser
                    pronosticados hasta 15
                    minutos antes de iniciar el Partido.</p>
                <!-- <p class="content-text"><span class="nOrder">5. </span> En caso de jugarse un TORNEO, el pronostico del
                    podio asi como el
                    goleador del mismo, deberan ser definidos con un limite de 24 horas antes del Partido inaugural.
                </p>
                <p class="content-text text-help">*El Goleador se basara exclusivamente en la determinacion
                    oficial del
                    torneo.</p> -->
                <p class="content-text"><span class="nOrder">6. </span> La division del pozo sera dispuesta por el
                    organizador, y
                    determinara
                    el % del pozo que se llevaran los 3 primeros puestos de la penka</p>
                <div class="distribution">
                    <p>100%-0-0</p>
                    <p>80%-20%-0</p>
                    <p>70%-20%-10%</p>
                </div>
                <p class="content-text text-help">*Los ganadores seran determinados por puestos y no por puntaje.
                    Es
                    decir, si
                    hay empate entre los primeros 3 lugares, el pozo sera dividio equitativamente 33% - 33% -
                    33%.</p>
                <p class="content-text"><span class="nOrder">7. </span>Los partidos serán presentados de acuerdo a tu
                    zona horaria.</p>
                <p class="content-text"><span class="nOrder">8. </span> Penka no se hace responsable de la
                    recolección del dinero
                    y
                    el pago de los premios.</p>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-xs-12 col-lg-12">
            <div class="box">

                <!--- JUNIOR -->
                <!-- <div *ngIf="juniorValue === true; then btnJuniorActive else btnJuniorDisable"></div>
                <ng-template #btnJuniorActive>
                    <button mat-button (click)="junior()" class="btn active">
                        JUNIOR
                    </button>
                </ng-template>
                <ng-template #btnJuniorDisable>
                    <button mat-button (click)="junior()" class="btn disable">
                        JUNIOR
                    </button>
                </ng-template> -->

                <!-- MEDIUM -->
                <div *ngIf="mediumValue === true; then btnMediumActive else btnMediumDisable"></div>
                <ng-template #btnMediumActive>
                    <button mat-button (click)="medium()" class="btn active">
                        MEDIUM
                    </button>
                </ng-template>
                <ng-template #btnMediumDisable>
                    <button mat-button (click)="medium()" class="btn disable">
                        MEDIUM
                    </button>
                </ng-template>

                <!-- PRO --->
                <div *ngIf="proValue === true; then btnProActive else btnProDisable"></div>
                <ng-template #btnProActive>
                    <button mat-button (click)="pro()" class="btn active">
                        PRO
                    </button>
                </ng-template>
                <ng-template #btnProDisable>
                    <button mat-button (click)="pro()" class="btn disable">
                        PRO
                    </button>
                </ng-template>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-12 col-lg-12">
            <div class="box">
                <!-- JUNIOR --->
                <!-- <div *ngIf="juniorValue === true; then contentJunior else none"></div> -->
                <!-- <ng-template #contentJunior>
                    <ul class="list-rules">
                        <li class="content-text">Campeon - 10 puntos.</li>
                        <li class="content-text">SubCampeon - 7 puntos.</li>
                        <li class="content-text">Tecer lugar - 5 puntos.</li>
                        <li class="content-text">Goleador del torneo - 5 puntos.</li>
                        <li class="content-text">Mejor jugador del torneo - 5 puntos.</li>
                    </ul>
                </ng-template> -->

                <!-- MEDIUM --->
                <div *ngIf="mediumValue === true; then contentMedium else none"></div>
                <ng-template #contentMedium>
                    <ul class="list-rules">
                        <li class="content-text">Ganador del partido (o empate) - 3 puntos.</li>
                        <li class="content-text">Si el participante no acierta el ganador (o empate) - 0 puntos.</li>
                    </ul>

                    <!-- <p class="text-help">* En caso de que se este jugando un torneo.</p>
                    <p class="text-help">* El goleador y otras menciones serán definidas exclusivamente en base a la determinación oficial del torneo.</p>
                    <ul class="list-rules">
                        <li class="content-text">Acertar el Campeón - 10 puntos.</li>
                        <li class="content-text">Acertar el SubCampeón - 7 puntos.</li>
                        <li class="content-text">Acertar el Tercer lugar - 5 puntos.</li>
                        <li class="content-text">Acertar el goleador del torneo - 5 puntos.</li>
                        <li class="content-text">Acertar el mejor jugador del torneo - 5 puntos.</li>
                    </ul> -->
                    <br>
                </ng-template>
                <!-- JUNIOR --->
                <div *ngIf="proValue === true; then contentPro else none"></div>
                <ng-template #contentPro>
                    <ul class="list-rules">
                        <li class="content-text">Resultado exacto del partido - 5 puntos por partido.</li>
                        <li class="content-text">Acertar el ganador del partido (o empate) pero no el resultado - 3
                            puntos.
                        </li>
                        <li class="content-text">Si el participante no acierta al ganador (o empate) - 0 puntos.</li>
                    </ul>
                    <!-- <p class="text-help">* En caso de que se este jugando un torneo.</p>
                    <p class="text-help">* El goleador y otras menciones serán definidas exclusivamente en base a la determinación oficial del torneo.</p>

                    <ul class="list-rules">
                        <li class="content-text">Campeon - 10 puntos.</li>
                        <li class="content-text">SubCampeon - 7 puntos.</li>
                        <li class="content-text">Tecer lugar - 5 puntos.</li>
                        <li class="content-text">Goleador del torneo - 5 puntos.</li>
                        <li class="content-text">Mejor jugador del torneo - 5 puntos.</li>
                    </ul> -->
                    <br>
                </ng-template>

                <!-- none -->
                <ng-template #none>
                </ng-template>

            </div>
        </div>
    </div>
</div>