<app-page-header [title]="title"></app-page-header>
<br>

<!-- DESKTOP -->
<div class="desktop">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="box">
                    <input
                            type="text"
                            class="searchByCode"
                            placeholder="Ingresa el código de Penka aquí"
                            [(ngModel)]="codePenka"
                    >
                </div>
            </div>
            <!-- <div class="col-lg-4">
                <div class="box">
                    <input
                            type="text"
                            class="searchByName"
                            placeholder="Buscar por nombre de Penka u Organizador"
                            [(ngModel)]="penkaName"
                    >
                </div>
            </div> -->
        </div>
        <br>
        <ng-container *ngIf="codePenka">
            <div class="row">
                <div class="col-lg-12">
                    <div class="box">
                        <p class="result">Resultado:</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="box">
                        <ul class="list-penkas">
                            <li class="item-penkas" *ngFor="let p of penkas | filterCodePenka:codePenka">
                                <app-penka [codePenka]="p.codePenka"></app-penka>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <br>
        </ng-container>

        <ng-container *ngIf="penkaName">
            <div class="row">
                <div class="col-lg-12">
                    <div class="box">
                        <p class="result">Resultado:</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="box">
                        <ul class="list-penkas">
                            <li class="item-penkas" *ngFor="let p of penkas | filterPenkaName:penkaName">
                                <app-penka [codePenka]="p.codePenka"></app-penka>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <br>
        </ng-container>
        <br>
        <!-- <app-friends-penkas-container [penkas]="penkas"></app-friends-penkas-container> -->
        <br>
        <br>
        <br>
    </div>
</div>

<!-- MOBILE -->
<div class="mobile">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <input
                            type="text"
                            class="searchByCode"
                            placeholder="Ingresa aqui el codigo de la penka"
                            [(ngModel)]="codePenka"
                    >
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <p class="text-help">-------------- ó tambien puedes. ----------------</p>
                </div>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <input
                            type="text"
                            class="searchByName"
                            placeholder="Buscar por Nombre de Penka u Organizador."
                            [(ngModel)]="penkaName"
                    >
                </div>
            </div>
        </div> -->
        <br>
        <ng-container *ngIf="codePenka">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <p class="result">Resultado:</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <ul class="list-result">
                            <li class="item-result" *ngFor="let p of penkas | filterCodePenka:codePenka">
                                <app-penka [codePenka]="p.codePenka"></app-penka>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </ng-container>

        <ng-container *ngIf="penkaName">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <p class="result">Resultado:</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <ul class="list-result">
                            <li class="item-result" *ngFor="let p of penkas | filterPenkaName:penkaName">
                                <app-penka [codePenka]="p.codePenka"></app-penka>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </ng-container>
        <br>
        <!-- <app-friends-penkas-container [penkas]="penkas"></app-friends-penkas-container> -->
        <br>
        <br>
        <br>
    </div>
</div>
