.match-container {
    width: 260px;
    padding: 0;
}

/* date match*/
.date {
    padding: 0;
    margin: 0;
}

.date p {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    opacity: 0.5;
    margin-bottom: 5px;
}

/* teams container */
.teams {
    display: inline-flex;
    background-color: #414347;
    padding: 10px 20px 0 20px;
    border-radius: 25px;
    margin: 0;
}

.teams p {
    margin-top: 8px;
}

.teams-font {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    padding: 0;
}

.teams img {
    width: 30px;
    height: 30px;
    margin: 0 10px 0 10px;
}

.separator {
    margin-left: 5px;
    margin-right: 5px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    padding: 0;
}

.home-score, .visit-score {
    margin-top: 0;
    background-color: #232529;
    padding: 3px 5px 2px 5px;
    border-radius: 5px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
}
