/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

html, body {
  width: 100%;
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
}

.mat-app-background {
  background-color: #232529;
}

/* COMMON CLASSES */
a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #fff;
}

hr {
  border: 1px solid #4f4f4f;
}

/* list styles */
ul {
  list-style-type: none;
}

/* list - horizontal */
.list-horizontal {
  overflow-x: scroll;
  overflow-y: hidden;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  padding: 0 0 10px 0;
}

.list-horizontal::-webkit-scrollbar {
  height: 10px;
}

.list-horizontal::-webkit-scrollbar-thumb {
  background-color: #2E3035;
  border-radius: 10px;
}

.list-horizontal::-webkit-scrollbar-thumb:active {
  background-color: #737171;
}

.list-horizontal::-webkit-scrollbar-thumb:hover {
  background-color: #792fe8;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.item-horizontal {
  border: 0;
  margin-right: 20px;
}

.item-horizontal:hover {
  cursor: pointer;
}

/* list - vertical */
.list-vertical {
  overflow-x: hidden;
  overflow-y: scroll;
  grid-template-columns: repeat(10, 1fr);
}

.list-vertical::-webkit-scrollbar {
  width: 10px;
}

.list-vertical::-webkit-scrollbar-thumb {
  background-color: #2E3035;
  border-radius: 10px;
}

.list-vertical::-webkit-scrollbar-thumb:active {
  background-color: #737171;
}

.list-vertical::-webkit-scrollbar-thumb:hover {
  background-color: #792fe8;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.item-vertical {
  border: 0;
}

.item-vertical:hover {
  cursor: pointer;
}

/* MOBILE 300p */
@media only screen and (min-width: 300px) and (orientation: portrait) {
  .desktop {
    display: none;
  }
  .mobile {
    display: inline;
  }
  .box {
    padding: 0 15px 0 15px;
  }
  .content-text {
    text-align: justify;
    font-size: 12px;
    line-height: 14px;
  }
  .section-title {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
  }
  .section-subTitle {
    font-size: 14px;
    line-height: 14px;
  }
  .text-help {
    font-size: 12px;
    color: #737171;
    text-align: justify;
  }
  .text-no-results {
    font-size: 12px;
    color: #737171;
  }
  .arrow-watch-all {
    float: right;
    padding: 0 0 0 10px;
    margin: -10px 0 0 0;
    font-size: 10px;
  }

}

/* MOBILE 350p */
@media only screen and (min-width: 350px) and (orientation: portrait) {
  .desktop {
    display: none;
  }
  .mobile {
    display: inline;
  }
  .box {
    padding: 0 20px 0 20px;
  }
  .content-text {
    text-align: justify;
    font-size: 12px;
    line-height: 14px;
  }
  .section-title {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
  }
  .section-subTitle {
    font-size: 14px;
    line-height: 14px;
  }
  .text-help {
    font-size: 12px;
    color: #737171;
    text-align: justify;
  }
  .text-no-results {
    font-size: 12px;
    color: #737171;
  }
  .arrow-watch-all {
    float: right;
    padding: 0 0 0 10px;
    margin: -10px 0 0 0;
    font-size: 10px;
  }

}

/* DESKTOP 720 */
@media only screen and (min-width: 1280px) and (orientation: landscape) {
  .desktop {
    display: inline;
  }
  .mobile {
    display: none;
  }
  .box {
    padding: 0 15px 0 15px;
  }
  .content-text {
    text-align: justify;
    font-size: 14px;
    line-height: 16px;
  }
  .section-title {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
  }
  .section-subTitle {
    font-size: 14px;
    line-height: 18px;
  }
  .text-help {
    font-size: 12px;
    color: #737171;
    text-align: justify;
  }
  .text-no-results {
    font-size: 16px;
    color: #737171;
  }
  .arrow-watch-all {
    float: right;
    padding: 0 0 0 10px;
    margin: -10px 0 0 0;
    font-size: 14px;
  }
}

/* DESKTOP 1080p */
@media only screen and (min-width: 1900px) and (orientation: landscape) {
  .desktop {
    display: inline;
  }
  .mobile {
    display: none;
  }
  .box {
    padding: 0 15px 0 15px;
  }
  .content-text {
    text-align: justify;
    font-size: 16px;
    line-height: 18px;
  }
  .section-title {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
  }
  .section-subTitle {
    font-size: 14px;
    line-height: 18px;
  }
  .text-help {
    font-size: 12px;
    color: #737171;
    text-align: justify;
  }
  .text-no-results {
    font-size: 16px;
    color: #737171;
  }
  .arrow-watch-all {
    float: right;
    padding: 0 0 0 10px;
    margin: -10px 0 0 0;
    font-size: 14px;
  }
}
