/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

html, body {
    height: 100%;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    margin: 0;
}

/*//// links ////*/
a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #fff;
}

hr {
    border: 1px solid #4f4f4f;
}

/*/// background color APP ////*/
.mat-app-background {
    background-color: #232529;
}

ul {
    list-style-type: none;
}

/* ------ 1920 x 1080  ------- */
@media (min-width: 1900px) {

    /*////// Container //////*/
    .container {

    }
    .between-lg {
        padding-left: 8px;
    }

    /*//// Page ////*/
    .header-page {
        padding-top: 10px;
        border-top: 3px solid #FDA328;
        background-color: #792fe8;
    }
    /*//// Page - Fonts ////*/
    .header-page-title {
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        font-style: normal;
        font-size: 34px;
        line-height: 60px;
    }
    .section-title { //h2
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        font-style: normal;
        font-size: 30px;
        line-height: 45px;
    }

    .section-subTitle { //h3
        font-family: Roboto, "Helvetica Neue", sans-serif;
        font-weight: normal;
        font-style: normal;
        font-size: 20px;
        line-height: 23px;
    }
    .section-label-content {
        font-family: Roboto, "Helvetica Neue", sans-serif;
        font-weight: normal;
        font-style: normal;
        font-size: 14px;
        line-height: 16px;
    }
    .parrafo {
        font-family: Roboto, "Helvetica Neue", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
    }

    /*//// Card - Fonts ////*/
    .card-header-title { //h4
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        font-style: normal;
        font-size: 16px;
        line-height: 24px;
    }

    .card-header-subTitle { //h5
        font-family: Roboto, "Helvetica Neue", sans-serif;
        font-weight: normal;
        font-style: normal;
        font-size: 14px;
        line-height: 16px;
    }
    .card-information-item {
        padding: 0;
        margin: 0 0 25px 0;
    }
    .card-label-content {
        font-family: Roboto, "Helvetica Neue", sans-serif;
        font-weight: normal;
        font-style: normal;
        font-size: 16px;
        line-height: 16px;
        opacity: 0.5;
    }
    .card-info-content {
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        font-style: normal;
        font-size: 16px;
        line-height: 16px;
    }


    /*//// Buttons ////*/
    .btn-watchAll {
        font-family: Roboto, "Helvetica Neue", sans-serif;
        font-weight: normal;
        font-style: normal;
        font-size: 20px;
        line-height: 23px;
    }
    .btn-backSpace {
        font-family: Roboto, "Helvetica Neue", sans-serif;
        font-weight: normal;
        font-style: normal;
        font-size: 16px;
        line-height: 20px;
        color: #FDA328;
    }
    .mat-button.mat-icon {
        margin-bottom: 0;
        padding-bottom: 0;
        margin-right: 0;
    }
    .btn-goGamble {
        font-family: Roboto, "Helvetica Neue", sans-serif;
        font-weight: normal;
        font-style: normal;
        font-size: 16px;
        line-height: 20px;
    }
    /*//// Banner - Home - fonts ////*/
    .banner-home-title {
        font-family: 'Poppins', sans-serif;
        font-weight: 800;
        font-style: normal;
        font-size: 55px;
        line-height: 65px;
    }
    .banner-home-button {
        font-family: Roboto, "Helvetica Neue", sans-serif;
        font-weight: normal;
        font-style: normal;
        font-size: 20px;
        line-height: 20px;
    }

    /*///// Forms - fonts /////*/
    .label-form {
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        font-style: normal;
        font-size: 16px;
        line-height: 24px;
    }
    .label-form-help {
        font-family: Roboto, "Helvetica Neue", sans-serif;
        font-weight: normal;
        font-style: normal;
        font-size: 14px;
        line-height: 16px;
        color: gray;
    }

    /*///// Matches - fonts /////*/
    .match-date-font {
        font-family: Roboto, "Helvetica Neue", sans-serif;
        font-weight: normal;
        font-style: normal;
        font-size: 12px;
        line-height: 14px;
        opacity: 0.5;
    }
    .match-team-font {
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        font-style: normal;
        font-size: 16px;
        line-height: 24px;
    }
    .match-separator {
        margin-right: 15px;
        margin-top: 5px;
    }
    .match-score-font {
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        font-style: normal;
        font-size: 12px;
        line-height: 18px;
        margin: 0;
    }
    .match-gamble-font {
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        font-style: normal;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.75px;
        margin: 0;
    }

    /*///// Template - font //////*/
    .template-button-font {
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        font-style: normal;
        font-size: 18px;
        line-height: 22px;
    }

    /*//// Participants /////*/
    .participant-font {
        font-family: Roboto, "Helvetica Neue", sans-serif;
        font-weight: normal;
        font-style: normal;
        font-size: 12px;
        line-height: 20px;
        opacity: 0.5;
    }


    /* --- request notification --- */
    .request-notification {
        background-color: #27ae60;
        color: white;
        font-family: 'Poppins', sans-serif;
        font-weight: normal;
    }
}
