/* MOBILE 300p */
@media only screen and (min-width: 300px) and (orientation: portrait) {
  .desktop {
    display: none;
  }
  .mobile {
    display: inline;
  }
  .list-vertical {
    padding: 0;
    margin: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 280px;
  }
  .item-vertical {
    width: 80%;
    text-align: center;
    margin: 0 0 20px 50px;
  }
  .list-horizontal {
    margin: 0;
  }
  /* Counter Matches Picked */
  .counterPicks {
    font-size: 12px;
    line-height: 12px;
    color: white;
  }
  .counterPicks span {
    color: #FDA328;
  }
  .btn-continue {
    font-size: 12px;
    line-height: 14px;
    padding: 10px;
    float: right;
    background-color: #FDA328;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
  }

  .search-match {
    background-color: #2E3035;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    width: 180px;
    height: 30px;
    font-size: 10px;
    padding-left: 10px;
  }

  .search-match::placeholder {
    color: white;
  }

  .search-match::content {
    color: white;
  }

  .search-match:hover {
    border: 2px solid #FDA328;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
  }

  .search-match[type=text]:focus {
    outline: none;
    border: 2px solid #FDA328;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
  }
}

/* MOBILE 350p */
@media only screen and (min-width: 350px) and (orientation: portrait) {
  .desktop {
    display: none;
  }
  .mobile {
    display: inline;
  }
  .list-vertical {
    padding: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 400px;
  }
  .item-vertical {
    width: 80%;
    margin: 0 0 20px auto;
  }
  /* Counter Matches Picked */
  .counterPicks {
    font-size: 12px;
    line-height: 12px;
    color: white;
  }
  .counterPicks span {
    color: #FDA328;
  }
  .btn-continue {
    font-size: 12px;
    line-height: 14px;
    padding: 10px;
    float: right;
    background-color: #FDA328;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
  }

  .search-match {
    background-color: #2E3035;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    width: 180px;
    height: 30px;
    font-size: 10px;
    padding-left: 10px;
  }

  .search-match::placeholder {
    color: white;
  }

  .search-match::content {
    color: white;
  }

  .search-match:hover {
    border: 2px solid #FDA328;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
  }

  .search-match[type=text]:focus {
    outline: none;
    border: 2px solid #FDA328;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
  }
}

/* DESKTOP 720P */
@media only screen and (min-width: 1280px) and (orientation: landscape) {
  .desktop {
    display: inline;
  }
  .mobile {
    display: none;
  }
  .counterPicks {
    font-size: 16px;
    line-height: 18px;
  }
  .counterPicks span {
    color: #FDA328;
  }
  .btn-continue {
    background-color: #FDA328;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    font-size: 14px;
    float: right;
    padding: 0 30px 0 30px;
    margin: 0;
  }

  .search-match {
    background-color: #2E3035;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    width: 300px;
    height: 30px;
    font-size: 14px;
    padding-left: 20px;
  }

  .search-match::placeholder {
    color: white;
  }

  .search-match::content {
    color: white;
  }

  .search-match:hover {
    border: 2px solid #FDA328;
    border-radius: 25px;
  }

  .search-match[type=text]:focus {
    outline: none;
    border: 2px solid #FDA328;
    border-radius: 25px;

  }
}

/* DESKTOP 1080P */
@media only screen and (min-width: 1900px) and (orientation: landscape) {
  .desktop {
    display: inline;
  }
  .mobile {
    display: none;
  }
  .counterPicks {
    font-size: 16px;
    line-height: 18px;
  }

  .counterPicks span {
    color: #FDA328;
  }
  .btn-continue {
    background-color: #FDA328;
    padding: 0 20px 0 20px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    margin-right: 20px;
    float: right;
  }
  .search-match {
    background-color: #2E3035;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    width: 300px;
    height: 30px;
    font-size: 14px;
    padding-left: 20px;
  }
  .search-match::placeholder {
    color: white;
  }
  .search-match::content {
    color: white;
  }
  .search-match:hover {
    border: 2px solid #FDA328;
    border-radius: 25px;
  }
  .search-match[type=text]:focus {
    outline: none;
    border: 2px solid #FDA328;
    border-radius: 25px;

  }
}



