<app-page-header-steps [title]="title" [stepNumber]="stepNumber" [stepTotal]="stepTotal"></app-page-header-steps>
<br>

<!-- DESKTOP -->
<div class="desktop">
    <div class="container">
        <ng-container *ngIf="type === 'templates'">
            <div class="row">
                <div class="col-lg-10">
                    <div class="box">
                        <span class="section-title">Selecciona la plantilla que deseas jugar:</span>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="box">
                        <app-button-back></app-button-back>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-12">
                    <div class="box">
                        <ng-container *ngIf="templates.length > 0; else noTemplates">
                            <ul class="list-horizontal">
                                <li class="item-horizontal" *ngFor="let template of templates">
                                    <app-template [template]="template"></app-template>
                                </li>
                            </ul>
                        </ng-container>

                        <ng-template #noTemplates>
                            <p class="text-no-results">No hay plantillas disponibles.</p>
                            <br>
                        </ng-template>
                    </div>
                </div>
            </div>
        </ng-container>

        <ng-container *ngIf="type === 'singleMatches'">
            <div class="row">
                <div class="col-lg-9">
                    <div class="box">
                        <label>
                            <input type="text" class="search-match" placeholder="Buscar por Equipo, Liga o Competición."
                                   [(ngModel)]="term">
                        </label>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="box">

                        <ng-container *ngIf="listMatches.length > 0; else noButton">
                            <app-button-continue [codePenka]="generateCodePenka" [url]="url"></app-button-continue>
                        </ng-container>

                        <ng-template #noButton>
                        </ng-template>

                        <app-button-back></app-button-back>

                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-12">
                    <div class="box">
                        <span class="section-title">Selecciona los partidos que deseas jugar: </span>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-12">
                    <div class="box">
                        <ng-container *ngIf="listMatches.length > 0">
                            <p class="counterPicks">

                                <ng-container *ngIf="listMatches.length === 1">
                                    <span>{{listMatches.length}}</span>
                                    partido seleccionado.
                                </ng-container>

                                <ng-container *ngIf="listMatches.length > 1">
                                    <span>{{listMatches.length}}</span>
                                    partidos seleccionados.
                                </ng-container>

                            </p>
                            <ul class="list-horizontal">
                                <li class="item-horizontal"
                                    *ngFor="let match of listMatches">
                                    <app-single-match-picked [match]="match"></app-single-match-picked>
                                </li>
                            </ul>
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="box">
                        <ng-container *ngIf="singleMatches.length > 0; else noMatches">

                            <ng-container *ngIf="term; else list">
                                <ul class="list-horizontal">
                                    <li class="item-horizontal" *ngFor="let match of singleMatches | filter:term"
                                        (click)="pickTeam(match)">
                                        <app-single-match [match]="match"></app-single-match>
                                    </li>
                                </ul>
                            </ng-container>

                            <ng-template #list>
                                <ul class="list-horizontal">
                                    <li class="item-horizontal" *ngFor="let match of singleMatches"
                                        (click)="pickTeam(match)">
                                        <app-single-match [match]="match"></app-single-match>
                                    </li>
                                </ul>
                            </ng-template>

                        </ng-container>

                        <ng-template #noMatches>
                            <p class="text-no-results">No hay partidos disponibles</p>
                            <br>
                        </ng-template>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>

<!-- MOBILE -->
<div class="mobile">
    <div class="container">
        <ng-container *ngIf="type === 'templates'">
            <div class="row">
                <div class="box">
                    <div class="col-xs-12">
                        <span class="section-subTitle">Selecciona la plantilla que deseas jugar:</span>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <ng-container *ngIf="templates.length > 0; else noTemplates">
                            <ul class="list-templates">
                                <li class="item-templates" *ngFor="let template of templates">
                                    <app-template [template]="template"></app-template>
                                </li>
                            </ul>
                        </ng-container>

                        <ng-template #noTemplates>
                            <p class="text-no-results">No hay plantillas disponibles.</p>
                            <br>
                        </ng-template>
                    </div>
                </div>
            </div>
        </ng-container>

        <ng-container *ngIf="type === 'singleMatches'">
            <div class="row">
                <div class="col-xs-10">
                    <div class="box">
                        <label>
                            <input type="text" class="search-match" placeholder="Buscar Equipo, Liga o Competición."
                                   [(ngModel)]="term">
                        </label>
                    </div>
                </div>
                <div class="col-xs-2">
                    <div class="box">
                        <ng-container *ngIf="listMatches.length > 0; else noButton">
                            <app-button-continue [codePenka]="generateCodePenka" [url]="url"></app-button-continue>
                        </ng-container>
                        <ng-template #noButton>
                        </ng-template>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <p class="section-subTitle">Selecciona los partidos que deseas jugar:</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <ng-container *ngIf="listMatches.length > 0">
                            <p class="counterPicks">

                                <ng-container *ngIf="listMatches.length === 1">
                                    <span>{{listMatches.length}}</span>
                                    partido seleccionado.
                                </ng-container>

                                <ng-container *ngIf="listMatches.length > 1">
                                    <span>{{listMatches.length}}</span>
                                    partidos seleccionados.
                                </ng-container>

                            </p>
                            <ul class="list-horizontal">
                                <li class="item-horizontal"
                                    *ngFor="let match of listMatches">
                                    <app-single-match-picked [match]="match"></app-single-match-picked>
                                </li>
                            </ul>
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <ng-container *ngIf="singleMatches.length > 0; else noMatches">

                            <ng-container *ngIf="term; else list">
                                <ul class="list-vertical">
                                    <li class="item-vertical" *ngFor="let match of singleMatches | filter:term"
                                        (click)="pickTeam(match)">
                                        <app-single-match [match]="match"></app-single-match>
                                    </li>
                                </ul>
                            </ng-container>

                            <ng-template #list>
                                <ul class="list-vertical">
                                    <li class="item-vertical" *ngFor="let match of singleMatches"
                                        (click)="pickTeam(match)">
                                        <app-single-match [match]="match"></app-single-match>
                                    </li>
                                </ul>
                            </ng-template>

                        </ng-container>

                        <ng-template #noMatches>
                            <p class="text-no-results">No hay partidos disponibles.</p>
                            <br>
                        </ng-template>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>
<br>
<br>