/* -------------------------- */
/* ------ 1920 x 1080  ------- */
@media (min-width: 1900px) {
    /*//// exclusive classes */
    .stepNumber {
        font-family: 'Poppins', sans-serif;
        font-weight: 800;
        font-size: 28px;
        font-style: normal;
        line-height: 35px;

    }

    .stepTotal {
        font-family: 'Poppins', sans-serif;
        font-weight: 800;
        font-size: 16px;
        font-style: normal;
        color: gray;
        line-height: 25px;
    }

    .labelSteps {
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 12px;
        font-style: normal;
        line-height: 22px;
        letter-spacing: 2.2px;
    }

    .tournament {
        width: 350px;
    }

    .mat-drawer-container {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100%;
        width: 320px;
        height: 220px;
        border: 1px solid rgba(0, 0, 0, 0.5);
        border-radius: 15px;
        -webkit-border-radius: 15px;
    }

    .btn-template {
        color: #252526;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 20px;
        background-color: #FDA328;
        opacity: 0.5;
    }

    .btn-template:hover {
        background-color: #FDA328;
        opacity: 1;
    }

    .content {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
        overflow-x: hidden;
    }
    .mat-nav-list {
        list-style-type: none;
        padding-left: 0;
    }

    .mat-list-item {
        margin-right: 20px;
        padding-left: 10px;
        background-color: transparent;
        border: 0;
    }

    .mat-list-item:hover {
        background-color: transparent;
    }

    /* --- List Single Matches */
    .listSingleMatches {
        list-style-type: none;
        padding: 0;
    }
    .itemSingleMatches {
        display: inline-grid;
        margin-right: 40px;
        margin-bottom: 40px;
    }
    .itemSingleMatches:hover {
        cursor: pointer;
    }

    /* --- Pick Matches --- */
    .listPickMatches {
        list-style-type: none;
        padding: 0;
    }
    .itemPickMatches {
        display: inline-grid;
        margin: 0 20px 20px 0;
    }
    .counterPicks {
        font-family: Roboto, "Helvetica Neue", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 23px;
        color: white;
    }
    .counterPicks span {
        color: #FDA328;
    }
    .containerPick {
        display: inline-flex;
        width: 120px;
        height: 35px;
    }
    .matchPick {
        display: inline-flex;
        width: 80px;
        padding: 5px 10px 0 10px;
        background-color: #737171;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
    }
    .delPick {
        width: 30px;
        background-color: #792fe8;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
    }
    .teamPick {
        width: 25px;
        height: 25px;
        margin: 0;
    }
    .separator {
        margin: 0 10px 0 10px;
    }
    .btn-delPick {
        padding: 0;
        margin: 6px;
        background-color: transparent;
    }
    .btn-delPick:hover {
        cursor: pointer;
    }
    .btn-makePenka {
        background-color: #FDA328;
        padding: 0 20px 0 20px;
        border-radius: 25px;
        margin-right: 20px;
    }

}



