/* MOBILE 350p */
@media only screen and (min-width: 350px) and (orientation: portrait) {
  .card {
    width: 300px;
    border-radius: 25px;
    background-color: transparent;
    border: 0;
  }
  /* Card Header */
  .header {
    background-color: #792fe8;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    padding: 10px 10px 5px 20px;
  }
  .container-title {
    width: 100%;
    display: inline-block;
    padding: 0;
  }
  .title {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 14px;
    margin: 0;
  }
  .subTitle {
    margin: 5px 0 0 0;
    font-size: 12px;
  }
  .container-maker {
    width: 75%;
    display: inline-block;
  }
  .container-button {
    width: 25%;
    display: inline-block;
  }
  .btn-watch {
    padding: 5px 10px 5px 10px;
    border-radius: 15px;
    border: 1px solid white;
    font-size: 12px;
    line-height: 12px;
  }
  /* Card Body */
  .body {
    background-color: #2E3035;
    height: 200px;
  }
  .container-matches {
    margin: auto;
    height: 20px;
    width: 80px;
    text-align: center;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 5px 10px 0 10px;
    background-color: #4C4E52;
  }
  .container-matches p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.75px;
    color: white;
  }
  .list-matches {
    margin-top: 10px;
    padding: 0 0 0 30px;
  }
  .item-matches {
    display: inline-grid;
    margin: 0 25px 15px 0;
  }
  /* Card - Footer */
  .footer {
    padding: 10px 0 5px 20px;
    background-color: #414347;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
  }
  .label {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 12px;
    color: gray;
    margin-bottom: 0;
  }
  .limitData {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 12px;
  }
  .currentData {
    color: #FDA328;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 12px;
  }
  .bet {
    color: #27AE60;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 12px;
  }
  .btn-join {
    font-weight: bold;
    font-size: 12px;
    border-radius: 25px;
    width: 300px;
    background-color: #FDA328;
    margin-top: 5px;
  }
}

/* DESKTOP 720P */
@media only screen and (min-width: 1280px) and (orientation: landscape) {
  .penka-in-game {
    background-color: #792fe8;
  }
  .penka-done {
    background-color: #737171;
  }
  .card {
    width: 320px;
    border-radius: 25px;
    background-color: transparent;
    border: 0;
  }
  /* Card Header */
  .header {
    background-color: #792fe8;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    padding: 10px 10px 5px 20px;
  }
  .container-title {
    width: 100%;
    display: inline-block;
    padding: 0;
  }
  .title {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 16px;
    margin: 0;
  }
  .subTitle {
    margin: 5px 0 0 0;
    font-size: 14px;
  }
  .container-maker {
    width: 75%;
    display: inline-block;
  }
  .container-button {
    width: 25%;
    display: inline-block;
  }
  .btn-watch {
    padding: 5px 10px 5px 10px;
    border-radius: 15px;
    border: 1px solid white;
    font-size: 12px;
    line-height: 12px;
  }
  /* Card Body */
  .body {
    background-color: #2E3035;
    height: 200px;
  }
  .container-matches {
    margin: auto;
    height: 20px;
    width: 80px;
    text-align: center;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 5px 10px 0 10px;
    background-color: #4C4E52;
  }


  /* Card - Footer */
  .footer {
    padding: 10px 0 5px 20px;
    background-color: #414347;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
  }
  .label {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 12px;
    color: gray;
    margin-bottom: 0;
    padding: 0;
  }
  .limitData {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 12px;
  }
  .currentData {
    color: #FDA328;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 12px;
  }
  .bet {
    color: #27AE60;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 14px;
  }
  .btn-join {
    font-weight: bold;
    font-size: 14px;
    border-radius: 25px;
    width: 320px;
    background-color: #FDA328;
    margin-top: 5px;
  }
}
