<ng-container *ngFor="let p of penkas">

    <div class="card">
        <!-- Card Header penka in game -->
        <ng-container *ngIf="p.status === '1'">
            <div class="header penka-in-game">
                <div class="container-title">
                    <p class="title">{{p.name}}</p>
                </div>
                <div class="container-maker">
                    <p class="subTitle">{{p.makerName}}</p>
                </div>
                <div class="container-button">
                    <button mat-stroked-button class="btn-watch" (click)="goWatch(p.codePenka)">
                        Ver más
                    </button>
                </div>
            </div>
        </ng-container>

        <!-- Card Header penka done -->
        <ng-container *ngIf="p.status === '2'">
            <div class="header penka-done">
                <div class="container-title">
                    <p class="title">{{p.name}}</p>
                </div>
                <div class="container-maker">
                    <p class="subTitle">{{p.makerName}}</p>
                </div>
                <div class="container-button">
                    <button mat-stroked-button class="btn-watch" (click)="goWatch(p.codePenka)">
                        Ver más
                    </button>
                </div>
            </div>
        </ng-container>

        <!-- Card Header penka filed -->
        <ng-container *ngIf="p.status === '9'">
            <div class="header penka-done">
                <div class="container-title">
                    <p class="title">{{p.name}}</p>
                </div>
                <div class="container-maker">
                    <p class="subTitle">{{p.makerName}}</p>
                </div>
                <div class="container-button">
                    <button mat-stroked-button class="btn-watch" (click)="goWatch(p.codePenka)">
                        Ver más
                    </button>
                </div>
            </div>
        </ng-container>



        <!-- Card Body -->
        <div class="body">

            <!-- MATCHES FROM TEMPLATES -->
            <ng-container *ngIf="p.typePenka === 'template'">
                <div class="container-matches">
                    <ng-container
                        *ngFor="let lm of listMatches | filterCodeTemplate:p.codeTemplate; let i = index, let c = count">
                        <ng-container *ngIf="i < 1">
                            <p>{{c}} &nbsp;partidos</p>
                        </ng-container>
                    </ng-container>
                </div>
                <ul class="list-matches">
                    <li class="item-matches"
                        *ngFor="let lm of listMatches | filterCodeTemplate:p.codeTemplate; let i=index">
                        <ng-container *ngIf="i <= 3">
                            <app-match-mini
                                [matchDate]="lm.startDate"
                                [homeTeamFlag]="lm.homeTeamFlag"
                                [visitTeamFlag]="lm.visitTeamFlag"
                            ></app-match-mini>
                        </ng-container>
                    </li>
                </ul>
            </ng-container>

            <!-- MATCHES FROM SINGLE MATCHES -->
            <ng-container *ngIf="p.typePenka === 'singleMatches'">
                <div class="container-matches">
                    <ng-container
                        *ngFor="let lm of listMatches | filterCodePenka:p.codePenka; let i = index, let c = count">
                        <ng-container *ngIf="i < 1">
                            <p>{{c}} &nbsp;partidos</p>
                        </ng-container>
                    </ng-container>
                </div>
                <ul class="list-matches">
                    <li class="item-matches"
                        *ngFor="let lm of listMatches | filterCodePenka:p.codePenka; let i=index">
                        <ng-container *ngIf="i < 4">
                            <app-match-mini
                                [matchDate]="lm.startDate"
                                [homeTeamFlag]="lm.homeTeamFlag"
                                [visitTeamFlag]="lm.visitTeamFlag"
                            ></app-match-mini>
                        </ng-container>
                    </li>
                </ul>
            </ng-container>
        </div>

        <!-- Footer -->
        <div class="footer">
            <div class="row">
                <div class="col-xs-4 col-lg-4">
                    <p class="label">Participantes</p>
                    <p class="limitData"><span
                        class="currentData">{{p.nParticipants}}</span>/{{p.limitParticipants}}</p>
                </div>
                <div class="col-xs-4 col-lg-4">
                    <p class="label">Fecha limite</p>
                    <p class="limitData">{{p.dateLimit.toDate() | date:'MMM dd'}}</p>
                </div>
                <div class="col-xs-4 col-lg-4">
                    <p class="label">Formato</p>
                    <p class="limitData">{{p.formatName}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-lg-6">
                    <p class="label">Entrada: &nbsp;<span class="bet">${{p.bet}}</span></p>
                </div>
                <div class="col-xs-6 col-lg-6">
                    <p class="label">pozo: &nbsp; <span class="currentData">${{p.accumulatedBet}}</span><span
                        class="limitData">/{{p.bet * p.limitParticipants}}</span></p>
                </div>
            </div>
        </div>
    </div>
</ng-container>
