<div class="container">
    <div class="row">
        <div class="col-xs-4">
            <a routerLink="/penka/new">
                <div class="box makePenka">
                    <div class="row">
                        <div class="col-xs-5">
                            <div class="box">
                                <h2 class="mat-headline">ORGANIZA UNA PENKA</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xs-4">
            <a routerLink="/penka/new">
                <div class="box joinPenka">
                    <div class="row">
                        <div class="col-xs-5">
                            <div class="box">
                                <h2 class="mat-headline">PARTICIPA DE UNA PENKA</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xs-4">
            <a routerLink="/penka/new">
                <div class="box faqPenka">
                    <div class="row">
                        <div class="col-xs-5">
                            <div class="box">
                                <h2 class="mat-headline">QUE ES UNA PENKA</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
