/* DESKTOP 350p */
@media only screen and (min-width: 350px) and (orientation: portrait) {
  .list-matches {
    margin-top: 10px;
    padding: 0;
  }

  .item-matches {
    display: inline-grid;
    padding: 0;
    margin: 0 0 20px 40px;
  }
}
/* DESKTOP 720p */
@media only screen and (min-width: 1280px) and (orientation: landscape) {
  .list-matches {
    margin-top: 10px;
    padding: 0;
  }

  .item-matches {
    display: inline-grid;
    padding: 0;
    margin: 0 0 20px 40px;
  }
}

/* DESKTOP 1080p */
@media only screen and (min-width: 1900px) and (orientation: landscape) {
  .list-matches {
    margin-top: 10px;
    padding: 0;
  }

  .item-matches {
    display: inline-grid;
    padding: 0;
    margin: 0 0 20px 40px;
  }
}

